<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
              <div class="row">
          <div class="col-12">
            <h3
              class="rub-head4 text-info text-center font-weight-bold py-1"
            >
              LOGGED-IN USERS
            </h3>
            <hr class="mt-0" />
          </div>
        </div>
      <div class="row">
      <div class="col-12 col-md-6 col-xl-8">
                <div class="mt-1 mt-xl-0 pt-xl-0 mb-2 mx-0 pl-0 pl-xl-2">
						<input type="text" name=""
            class="form-control col-12 col-sm-7 col-md-11 col-xl-6"
						(input)="getValue($event)"
						 id="name" placeholder="Search" autocomplete="on" />
			</div>
			</div>
            <div class="col-12 col-md-6 col-xl-4 mx-0 pt-1 px-3 px-sm-5 px-md-4 px-lg-5 px-xl-4">
          <button class="btn btn-primary mt-1 ml-1 ml-sm-5 mx-md-1 ml-lg-5 ml-xl-3" tooltip="Export to Excel"
            tooltip="Export to Excel"
            (click)="exportToExcel()"
          >
            <i class="fas fa-file-export"></i> Export
          </button>
<button class="btn btn-info mt-1 ml-1 ml-sm-3 mx-md-1 ml-lg-2 mr-lg-1 mx-xl-1" tooltip="Approve users" (click)="approveUsers()"><i class="fas fa-user-plus"></i> Approve</button>
          <button class="btn btn-info mt-1 ml-1 ml-sm-3 mx-md-1"
          ><i class="fas fa-chevron-left"></i> Back</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-0 px-0">
        <div
          class="conditin"
          *ngIf="checkLoggedInUsers(filteredUsers); else noCustomer"
        >
          <div class="table-col col-12 py-2 mb-0">
            <div class="state-table table-responsive">
              <!--table-->
              <table
                class="table table-hover table-striped table-sm"
                #exportTable
              >
                <thead class="bg-dark text-white">
                  <tr class="mx-2">
                    <th scope="col">
                      <i class="fas fa-sort pointerCursor"
                      (click)="sort('userId')"
                      ></i> ID
                    </th>
                    <th scope="col">
                      <i class="fas fa-sort pointerCursor"
                      (click)="sort('userName')"
                      ></i> Name
                    </th>
                    <th scope="col">
                      <i class="fas fa-sort pointerCursor"
                      (click)="sort('userBranch')"
                      ></i> Branch
                    </th>
                    <th scope="col">
                      <i class="fas fa-sort pointerCursor"
                      (click)="sort('userEmail')"
                      ></i> Email
                    </th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="mx-2" *ngFor="let logged of filteredUsers|orderBy:key:reverse|paginate:{
 id:'my_pages', itemsPerPage:pageSize, currentPage:currentPage,totalItems:totalItems
} let i = index">
                    <td>{{ logged.userId }}</td>
                    <td>{{ logged.userName }}</td>
                    <td>{{ logged.userBranch }}</td>
                    <td>{{ logged.userEmail }}</td>
                    <td><button class="btn btn-info"
                      (click)="logOut(logged.userId, logged.userEmail, i)"
                      >Logout</button></td>
                  </tr>
                </tbody>
              </table>
            <pagination-controls  id="my_pages"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            directionLinks="true">
           </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
                  <ng-template #noCustomer>
                              <div class="col-12 my-5 py-5 justify-content-between">
              <h4 class="text-center text-info">No User found!</h4>
            </div>
                  </ng-template>
