<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
      <div class="row">
        <div class="col-12">
          <label class="col" *ngIf="errored" class="text-danger">
            <!-- <i class="material-icons">Cancel</i> -->

            <ngx-alerts></ngx-alerts>
          </label>

          <label class="col" *ngIf="posted" class="text-info">
            <!-- <i class="material-icons">check_circle</i> -->
            <ngx-alerts></ngx-alerts>
          </label>
          <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
            TRANSACTIONS
          </h3>
          <hr class="mt-0" />
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-sm-7 col-md-9 col-xl-8">
          <div class="mt-1 mt-xl-0 pt-xl-0 mb-2 mx-0 pl-0 pl-xl-2">
            <!-- the search section -->
            <input
              type="text"
              (input)="getValue($event)"
              class="form-control col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6"
              name=""
              id="loan"
              placeholder="Search"
              autocomplete="on"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-0 px-3 py-2">
        <pagination-controls
        id="my_pages"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        directionLinks="true"
        autoHide="true"
        responsive="true"
      >
      </pagination-controls>
      </div>
      <div class="col-12 mx-0 px-3 py-2">
        <tabset>
          <!-- (click)="branchApprovalForwardedLoans()" -->
          <tab heading="Forwarded Loans" (selectTab)="getForwadedLoans()">
            <div>
              <!--record container-->
              <div
              class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
              *ngIf="!filteredLoans.length"
            >
                <div class="col-12 my-5 py-5 justify-content-between">
                  <h4 class="text-center text-info">No Forwarded Loans yet</h4>
                </div>
              </div>
              <div
              class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
              *ngIf="filteredLoans.length"
            >
            <div class="col-12">
              <button
                class="btn btn-primary my-2"
                (click)="receive('None', 'All')"
              >
                Receive All
              </button>
            </div>
              <div
                class="iteration"
              >
                <div class="item-container-1 mt-1">
                  <div
                    class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
                    *ngFor="
                      let loans of filteredLoans
                      | paginate
                      : {
                          id: 'my_pages',
                          itemsPerPage: pageSize,
                          currentPage: currentPage,
                          totalItems: totalItems
                        };
                      let i = index
                    "
                    >
                    <div class="list-card-body card-body my-0 py-0 mx-0 px-0">
                      <div class="row my-0 pt-md-0 pb-md-1 mx-md-0 px-md-0">
                        <div
                        class="col-3 col-sm-2 col-lg-1 d-flex flex-column justify-content-center pl-4 pr-0 pl-sm-3 px-md-2 mx-md-0"
                      >
                        <button
                          class="btn btn-info mx-md-0 px-0 py-1"
                          (click)="receive(loans, 'One')"
                        >
                          Receive
                        </button>
                      </div>
                      <div class="col-9 col-sm-10 col-lg-11 mx-md-0">
                          <div class="row mx-md-0 px-md-0">
                            <div
                              class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">ID:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.customerIdNumber }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-5 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Customer:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.customerName }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Loan Type:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.loanThresholdType }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Loan Product:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.loanThresholdProduct }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Tenure:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.loanTenure }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Amount:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.loanAmount | number }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Stage:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.movementStage }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                            class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                          >
                            <div class="row">
                              <div
                                class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                              >
                                <span class="">Mov't Status:</span>
                              </div>
                              <div
                                class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                              >
                                <span class="itemCreated">
                                  {{ loans.movementStatus === 1 ? 'CREATED' :
                                  loans.movementStatus === 2 ? 'FOWARDED' :
                                  loans.movementStatus === 3 ? 'RECEIVED' :
                                  loans.movementStatus === 4 ? 'DISBURSED' : 'DEFFERED' }}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Trasaction Status:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.transactionStatus === 0 ? 'NONE' :
                                    loans.transactionStatus === 1 ? 'APPROVED' :
                                    loans.transactionStatus === 2 ? 'DEFERED' :
                                    loans.transactionStatus === 3 ? 'REJECETED' : 'RECTIFIED' }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Moved by:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ !loans.movedBy ? "NONE" : loans.movedBy }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Age:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.ageSinceMovement }} Hours
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Created At:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.loanCreationDate }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Total Age:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.ageSinceCreation }} Days
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <!--/ end of record container-->
            </div>
          </tab>
          <!-- (click)="branchApprovalReceivedLoans()" -->
          <tab heading="Received Loans" (selectTab)="getReceivedLoans()">
            <!---forward users-->
            <div>
              <!--record container-->
              <div
              class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
              *ngIf="!filteredLoans.length"
            >
                <div class="col-12 my-5 py-5 justify-content-between">
                  <h4 class="text-center text-info">No Received Loans yet</h4>
                </div>
              </div>
              <div
                class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
                *ngIf="filteredLoans.length"
              >
                <div class="iteration">
                  <div class="item-container-1 mt-1">
                    <div
                      class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-1 shadow-lg"
                      [ngClass]="{approved: loans.transactionStatus === 1}"
                      *ngFor="
                      let loans of filteredLoans
                      | paginate
                      : {
                          id: 'my_pages',
                          itemsPerPage: pageSize,
                          currentPage: currentPage,
                          totalItems: totalItems
                        };
                      let i = index
                    "
                    >
                      <div class="list-card-body card-body my-0 py-0 mx-0 px-0">
                        <div class="row my-0 pt-md-0 pb-md-1 mx-md-0 px-md-0">
                          <div
                            class="col-2 col-md-1 pl-2 pr-0 mx-md-0 px-md-0 d-flex justify-content-center"
                          >
                            <div class="dropdown">
                              <button
                                class="btn btn-outline-primary dropdown-toggle"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tooltip="Options"
                              >
                                <i
                                  class="fas fa-ellipsis-v fa-2x text-info"
                                ></i>
                              </button>
                              <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                              >
                              <a
                              class="dropdown-item text-primo-1 pointerCursor"
                              (click)="openComment(loans, template, 'Approve')"
                              [hidden]="loans.transactionStatus === 1"
                              ><i class="fas fa-check"></i>
                              Approve
                            </a>
                              <a
                              class="dropdown-item text-primo-1 pointerCursor"
                              (click)="openComment(loans, template, 'Defer')"
                              [hidden]="loans.transactionStatus === 1"
                              ><i class="fas fa-chevron-left"></i>
                                Defer
                              </a>
                              <a
                              class="dropdown-item text-primo-1 pointerCursor"
                              (click)="openComment(loans, template, 'Forward Approved')"
                              [hidden]="loans.transactionStatus !== 1"
                              ><i class="fas fa-chevron-right"></i>
                                Forward
                              </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-10 col-sm-10 col-lg-11 mx-md-0">
                            <div class="row mx-md-0 px-md-0">
                              <div
                                class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">ID:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.customerIdNumber }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-5 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Customer:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.customerName }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Loan Type:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.loanThresholdType }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Loan Product:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.loanThresholdProduct }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Tenure:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.loanTenure }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Amount:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.loanAmount | number }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Stage:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.movementStage }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                              class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                            >
                              <div class="row">
                                <div
                                  class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                >
                                  <span class="">Mov't Status:</span>
                                </div>
                                <div
                                  class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                >
                                  <span class="itemCreated">
                                    {{ loans.movementStatus === 1 ? 'CREATED' :
                                    loans.movementStatus === 2 ? 'FOWARDED' :
                                    loans.movementStatus === 3 ? 'RECEIVED' :
                                    loans.movementStatus === 4 ? 'DISBURSED' : 'DEFFERED' }}
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Trasaction Status:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.transactionStatus === 0 ? 'NONE' :
                                      loans.transactionStatus === 1 ? 'APPROVED' :
                                      loans.transactionStatus === 2 ? 'DEFERED' :
                                      loans.transactionStatus === 3 ? 'REJECETED' : 'RECTIFIED' }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Moved by:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ !loans.movedBy ? "NONE" : loans.movedBy }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Age:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.ageSinceMovement }} Hours
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Created At:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.loanCreationDate }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Total Age:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ loans.ageSinceCreation }} Days
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ end of record container-->
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header bg-info modal-lg">
    <h4 class="modal-title text-white-75">{{actionType}} Loan</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group text-primary" [formGroup]="comment">
      <textarea
        name="arae"
        formControlName="comments"
        id=""
        class="form-control"
        rows="5"
        placeholder="Comment"
        (keyup.enter)="finalizeAction(commentControls.comments.value)"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-info"
      (click)="finalizeAction(commentControls.comments.value)"
      [disabled]="!comment.valid"
    >
      OK
    </button>
    <button  class="btn btn-info" (click)="closeModal()">
      Cancel
    </button>
  </div>
</ng-template>

