
<div class="container-fluid mb-0 mt-md-1 pt-md-0 pt-3 pb-1  col-xs-12 col-lg-12 ">
    <div>
      <div class="container">
        <div class="row shadow-lg m-3">
          <div class="col-md-4 colxs-12 col-sm-12 m-2">
            <h1>
              <i class="fas fa-user">User</i>
            </h1>
          </div>
          <div class="col-md-4 colxs-12 col-sm-12">
             <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="branchApprovalReceivedLoans()"
             >ReceivedLoans</button>
          </div>
          <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="branchApprovalForwardedLoans()"
             >ForwardedLoans</button>
                     

                        </div>
        </div>
        <div class="col-md-12">
          <div class="conditin m-2" 
          *ngIf="
          enableForwardedFrom
          &&!enableForwardedTo">
                <!--here-->
                   <div class="check-length" *ngIf="checkTransactionsTable(forwardedLoansFrom); else noforwarded">
                      <h3 class="text-center" >UserTransactions</h3>
                  <button class="btn btn-primary" (click)="receiveAllLoans(checkAll)">ReceiveAll</button>
                </div>
                <!---table->

                  --table-->
                  <table class="table table-bordered">
                     <thead class="table-dark" >
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let forwarded of forwardedLoansFrom; let i = index">
                      <th>
    <button class="btn btn-primary click" (click)="receiveLoans(forwarded.Id, i)">Receive</button>
  
                      </th>
                      <th>{{forwarded.Id}}</th>
                      <th>{{forwarded.Customer}}</th>
                      <th>{{forwarded.LoanType}}</th>
                      <th>{{forwarded.LoanProduct}}</th>
                      <th>{{forwarded.Tenure}}</th>
                      <th>{{forwarded.Amount}}</th>
                      <th>{{forwarded.Stage}}</th>
                      <th>{{forwarded.Status}}</th>
                      <th>{{forwarded.LoanMovedBy}}</th>
                      <th>{{forwarded.StageAt}}</th>
                      <th>{{forwarded.HowLong}}</th>
                      <th>{{forwarded.CreatedAt}}</th>
                      <th>{{forwarded.TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>       
                   </div>
                   <!--no forwardedLoans-->
                     <div class="container">
                       <h2 class="text-center text-uppercase">
                         <ng-template #noforwarded>
                           <h2>No forwarded Loans</h2>
                         </ng-template>
                       </h2>
                     </div>
                   <!---->
                     
                   </div>

                   <!---forward users-->
                    <div class="myn" 
                   *ngIf=
                   "!enableForwardedFrom&&enableForwardedTo">
                      <h3 class="text-center" >Disburse</h3>
                  <table class="table table-bordered">
                     <thead class="table-dark" *ngIf="checkTransactionsTable(receivedLoans); else noloans">
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let received of receivedLoans; let i = index">
                      <th>
                     <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h4 class="dropdown-item click" (click)="defferLoan(deffer, received.Id,i)">Deffer</h4>
                        <h4 class="dropdown-item click" (click)="forwardLoan(forward, received.Id,i)">Disburse</h4>
                      </div>
                    </div>
                      </th>
                      <th>{{received.Id}}</th>
                      <th>{{received.Customer}}</th>
                      <th>{{received.LoanType}}</th>
                      <th>{{received.LoanProduct}}</th>
                      <th>{{received.Tenure}}</th>
                      <th>{{received.Amount}}</th>
                      <th>{{received.Stage}}</th>
                      <th>{{received.Status}}</th>
                      <th>{{received.LoanMovedBy}}</th>
                      <th>{{received.StageAt}}</th>
                      <th>{{received.HowLong}}</th>
                      <th>{{received.CreatedAt}}</th>
                      <th>{{received.TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>
                  <ngx-alerts>  </ngx-alerts>
                  <!--create an alert-->

               <ng-template #deffer>
           <div class="modal-header">
                <h4 class="modal-title pull-left">Letshego Uganda Limited</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div  [formGroup]="defferTo"> 
                  <div class="form-group">
                      <div>
                         <label for="select">DefferTo</label>
                      </div>
                     
                      <select name="" id="select"
                      (change)="getWhereToDeffer($event)"
                      >
                        <option selected disabled select>select</option>
                        <option  *ngFor="let level of levels" [ngValue]="level">{{level}}</option>
                      </select>
                    </div>
                    <div class="form-group">

                       <label for="c">Comment</label>
                    <br>
                    <textarea name="reject" id="c" cols="30" rows="10"
                    formControlName="deffer_reason"
                    placeholder="Reason for rejecting" 
                    ></textarea>
                      
                    </div>
                  </div>
                </div>
               
                <div class="form-group" >
                  <button type="submit" class="btn btn-danger"
                  [disabled]="defferTo.invalid"
                  (click)="onDeffer(makeLoansDeffered, arrayId, arrayIndex)"
                  >Reject</button>
                </div>
                <div class="form-group" >
                  <button  class="btn btn-danger"
                  type="button"
                  (click)="cancel()" 
                  >Cancel</button>
                
              </div>
        </ng-template>

                  <!----->
                   <!---create forward template-->

                    <ng-template #forward>
            <div class="modal-header">
                <h4 class="modal-title pull-left">Letshego Uganda Limited</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group text-center" [formGroup]="comment">
                    <label for="c">Forward</label>
                  <br>
                  <textarea name="reject" id="c" cols="30" rows="10"
                  formControlName="user_comments"
                  placeholder="Reason forwarding" 
                  [ngClass]="validateComments()"
                  ></textarea>
                </div>
                </div>
               
                <div class="form-group" >
                  <button type="submit" class="btn btn-danger"
                  [disabled]="comment.invalid"
                  (click)="onForward(forwardedLoansTo, arrayId, arrayIndex)"
                  >ok</button>
                </div>
                <div class="form-group" >
                  <button  class="btn btn-danger"
                  type="button"
                  (click)="cancel()" 
                  >Cancel</button>
                
              </div>
              
        </ng-template>
                  <!----->
                  <div class="container">
                  <h2 class="text-center">
                    <ng-template #noloans>
                     <h1>No received loans</h1>
                    </ng-template>
                  </h2>
                </div>
              </div>

                   <!--forward loans--->
        <!--footer-->
        <div class="container mt-3 mb-2 pb-2">
          <div class="col-xs-12 col-lg-12">
            <div class="small text-center text-info">&copy; 2020 - LoanLead</div>
          </div>
  
      </div>
    </div>
  </div>
  
  
