.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
        hr{
          width: 1%;
          min-width: 1.7rem !important;
          border: 2px solid #bbb212b2;
        }

.card-body {
  width: 100%;
  height: auto;
  border-radius: 8px;
  contain: auto;
}

.invest-card {
  height: auto;
  overflow-y: auto;
}

.list-card {
  height: 75px;
}
.level-control {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-left: 3px !important;
  height: 35px;
}



//Media queries
@media (min-width: 320px) {
  .container-fluid {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .jumbotron-fluid {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}

@media (min-width: 768px) {
  .card-body {
    padding-top: 1.2rem !important;
  }
  .jumbotron-fluid {
    padding-top: 1.2rem !important;
    margin-bottom: 130px !important;
  }
  .text-light  {
    font-size: 26px !important;
  }
  }

@media (min-width: 812px) {
  .jumbotron-fluid {
    padding-top: .65rem !important;
    margin-bottom: 1.9rem !important;
  }
}

@media (min-width: 1020px) {
  .card-body {
    margin-top: 15px !important;
    margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
    padding-top: 80px !important;
    margin-bottom: 380px !important;
  }
}

@media (min-width: 1100px) {
  .card-body {
    margin-top: 5px !important;
    padding-top: 15px !important;
    margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
    padding-top: .65rem !important;
    margin-bottom: 0rem !important;
  }
}

@media (min-width: 1260px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
  }
  }
