<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Entities</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				 <table class="table table-bordered">
				 	 <thead class="table-dark">
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">ShortName</th>
			      <th scope="col">Plot</th>
			      <th scope="col">Branches</th>
			      <th scope="col">Description</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let entity of entities">
			      <td>{{entity.id}}</td>
			      <td>{{entity.entityName}}</td>
			      <td>{{entity.shortName}}</td>
			      <td>{{entity.plot}}</td>
			      <td>{{entity.branches}}</td>
			      <td>{{entity.description}}</td>      
			    </tr>
			  </tbody>
				 </table>


			</div>
		</div>
	</div>
</div>
