<div
  class="container-fluid justify-content-center mt-0 mb-0 pt-1 pt-xl-0 pb-2 pb-md-0 shadow-lg col-xs-12 col-lg-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div class="head-container container mt-1 mb-1 mx-auto px-auto py-2 shadow-lg">
    <div class="row">
      <div class="col-12">
        <h3 class="rub-head4 text-info text-center font-weight-bold pt-0 py-1">
          CUSTOMER DETAILS
        </h3>
        <hr class="mt-0" />
      </div>
    </div>
    </div>
          <div class="row">
            <div class="col-12 mx-auto px-0 px-sm-4 px-md-0">
          <div class="table-col col-12 pt-2 pb-2">
            <div class="state-table table-responsive pb-0">
              <!--table-->
              <table
                class="table table-hover table-striped table-sm"
              >
              <thead class="bg-dark text-white">
                  <tr class="mx-2">
			      <th scope="col">Customer ID</th>
			      <th scope="col">Customer Name</th>
			      <th scope="col">Stage</th>
			      <th scope="col">Actioned At</th>
			      <th scope="col">User</th>
			      <th scope="col">Branch</th>
			      <th scope="col">Comment</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr class="mx-2" *ngFor="let customer of customerDetails">
			      <td>{{customer.Id}}</td>
			      <td>{{customer.Customer}}</td>
			      <td>{{customer.Stage}}</td>
			      <td>{{customer.CreatedAt}}</td>
			      <td>Nicolas</td>
			      <td>Branch</td>
			      <td>Created</td>
			    </tr>
			  </tbody>
      </table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
