<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 pb-md-0 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
      <div class="row">
        <div class="col-12">
          <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
            TRANSACTIONS
          </h3>
          <hr class="mt-0" />
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-sm-7 col-md-8 col-lg-9 col-xl-8">
          <div class="mt-1 mt-xl-0 pt-xl-0 mb-2 mx-0 pl-0 pl-xl-2">
            <!-- the search section -->
            <input
              type="text"
              (input)="getValue($event)"
              class="form-control col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5"
              name=""
              id="loan"
              placeholder="Search"
              autocomplete="on"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-0 px-2 py-2">
        <tabset>
          <!-- (click)="branchApprovalReceivedLoans()" -->
          <tab
          heading="Receive Loans"
          >
          <div *ngIf="enableForwardedFrom && !enableForwardedTo">
          <!--here-->
              <div class="table-col col-12 pt-2 pb-1 mb-0">
                <div class="state-table table-responsive pb-0">
                  <div
                    class="check-length"
                    *ngIf="
                      checkTransactionsTable(forwardedLoansFrom);
                      else noforwarded
                    "
                  >
                    <button (click)="receiveAllLoans()" class="btn btn-primary my-2">
                      Receive All
                    </button>
                  <!---table-->
                  <table class="table table-hover table-striped table-sm">
                    <thead class="bg-dark text-white">
                      <tr class="mx-2">
                        <th>Action</th>
                        <th scope="col">ID</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Loan Type</th>
                        <th scope="col">LoanProduct</th>
                        <th scope="col">Tenure</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Status</th>
                        <th scope="col">Loan MovedBy</th>
                        <th scope="col">Stage At</th>
                        <th scope="col">How Long</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Total Age</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let forwarded of forwardedLoansFrom;
                          let i = index
                        "
                      >
                        <td>
                          <button
                            class="btn btn-info"
                            [disable]="disableButton"
                            (click)="receiveLoans(forwarded.Id, i)"
                          >
                            Receive
                          </button>
                        </td>
                        <td>{{ forwarded.Id }}</td>
                        <td>{{ forwarded.Customer }}</td>
                        <td>{{ forwarded.LoanType }}</td>
                        <td>{{ forwarded.LoanProduct }}</td>
                        <td>{{ forwarded.Tenure }}</td>
                        <td>{{ forwarded.Amount }}</td>
                        <td>{{ forwarded.Stage }}</td>
                        <td>{{ forwarded.Status }}</td>
                        <td>{{ forwarded.LoanMovedBy }}</td>
                        <td>{{ forwarded.StageAt }}</td>
                        <td>{{ forwarded.HowLong }}</td>
                        <td>{{ forwarded.CreatedAt }}</td>
                        <td>{{ forwarded.TotalAge }}</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                </div>
                </div>
              </div>
            </tab>
            <!-- (click)="branchApprovalForwardedLoans()" -->
            <tab
              heading="Forward Loans"
            >
              <!---forward users-->
              <div
                *ngIf="!enableForwardedFrom && enableForwardedTo"
              >
              <div class="table-col col-12 pt-3 pb-1 mb-0">
                <div class="state-table table-responsive pb-0">
                  <div
                    class="check-length"
    *ngIf="checkTransactionsTable(receivedLoans); else noloans"
                  >
                  <table class="table table-hover table-striped table-sm">
                    <thead class="bg-dark text-white"    *ngIf="checkTransactionsTable(receivedLoans); else noloans"

                  >
                    <tr>
                      <th>Action</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">Loan Type</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">Loan MovedBy</th>
                      <th scope="col">Stage At</th>
                      <th scope="col">How Long</th>
                      <th scope="col">Created At</th>
                      <th scope="col">Total Age</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let received of receivedLoans; let i = index">
                      <td>
                          <button
                            class="btn btn-info"
                              (click)="forwardLoan(forward, received.Id, i)"
                          >
                            Forward
                          </button>
                      </td>
                      <td>{{ received.Id }}</td>
                      <td>{{ received.Customer }}</td>
                      <td>{{ received.LoanType }}</td>
                      <td>{{ received.LoanProduct }}</td>
                      <td>{{ received.Tenure }}</td>
                      <td>{{ received.Amount }}</td>
                      <td>{{ received.Stage }}</td>
                      <td>{{ received.Status }}</td>
                      <td>{{ received.LoanMovedBy }}</td>
                      <td>{{ received.StageAt }}</td>
                      <td>{{ received.HowLong }}</td>
                      <td>{{ received.CreatedAt }}</td>
                      <td>{{ received.TotalAge }}</td>
                    </tr>
                  </tbody>
                </table>
                <ngx-alerts> </ngx-alerts>
                <!--create an alert-->
</div>
                </div>
              </div>
              </div>

            </tab>
          </tabset>
          </div>
        </div>
      </div>
    </div>
              <!--no forwarded Loans-->
              <ng-template #noforwarded>
                <div class="col-12 my-5 py-5 justify-content-between">
                  <h4 class="text-center text-info">No Forwarded Loans!</h4>
                </div>
              </ng-template>
                <!--create forward template-->

                <ng-template #forward>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Forward Loan</h4>
                    <button
                      type="button"
                      class="close pull-right"
                      aria-label="Close"
                      (click)="closeModal()"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group text-primary" [formGroup]="comment">
                      <textarea
                        name="reject"
                        id="c"
                        formControlName="user_comments"
                        class="form-control"
                        rows="5"
                        placeholder="Comment"
                        [ngClass]="validateComments()"
                      ></textarea>
                    </div>
                  </div>
    <div class="modal-footer">
                    <button
                      type="submit"
                      class="btn btn-info"
                      [disabled]="comment.invalid"
                      (click)="onForward(forwardedLoansTo, arrayId, arrayIndex)"
                    >
                      OK
                    </button>
                    <button
                      class="btn btn-info"
                      type="button"
                      (click)="cancel()"
                    >
                      Cancel
                    </button>
                  </div>
                </ng-template>
                    <ng-template #noloans>
                <div class="col-12 my-5 py-5 justify-content-between">
                  <h4 class="text-center text-info">No Received Loans!</h4>
                </div>
                    </ng-template>
