<div class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 pt-md-0 pt-0 pb-0 shadow-lg col-xs-12 col-lg-8">
    <div class="jumbotron-fluid mx-0 px-0 mb-0 pb-1">
        <div class="container mt-3 mx-0 shadow-lg">
            <div class="row">
                <div class="col-12">
                    <h4 class="rub-head4 text-info text-center font-weight-bold pt-0 py-1">
                        Withdraw Float
                    </h4>
                </div>
            </div>
        </div>
        <div class="card-body mt-2 pt-3 mb-0 mx-auto pb-0 shadow-lg">
            <form [formGroup]="userForm" (ngSubmit)="withdraw()">
                <div class="form-group text-primary">
                    <label for="station">Station</label>
                    <div class="input-group mb-0">
                        <select formControlName="station" class="form-control">
            <i *ngIf="fval.station.valid" class="material-icons"
              >check_circle</i
            >
            <option selected>Select Station</option>
            <option value="kunnyanya">Kunnyanya</option>
          </select>
                    </div>
                    <div class="text-danger col" *ngIf="
            (fval.station.touched || fval.station.dirty) &&
            fval.station.errors?.required
          ">
                        The Station is required!
                    </div>

                    <div class="text-danger col" *ngIf="
            (fval.station.touched || fval.station.dirty) &&
            fval.station.errors?.belongTostations
          ">
                        Please select a valid station!
                    </div>
                </div>

                <div class="form-group text-primary">
                    <label for="floatAmount" [ngClass]="fval.floatAmount.valid ? 'text-info' : ''">Amount<i *ngIf="fval.floatAmount.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <input
            id="floatAmount"
            formControlName="floatAmount"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.floatAmount.touched || fval.floatAmount.dirty) &&
                fval.floatAmount.errors
            }"
            placeholder="Txn Amount"
            autocomplete="off"
            placeholder="Enter the amount"
            autocomplete="off"
          /><i *ngIf="fval.floatAmount.valid" class="material-icons"
            >check_circle</i
          >
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.floatAmount.touched || fval.floatAmount.dirty) &&
            fval.floatAmount.errors?.required
          "
        >
          The float amount is required!
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.floatAmount.touched || fval.floatAmount.dirty) &&
            fval.floatAmount.errors?.hasNumber
          "
        >
          The float amount should be in digits/numbers!
        </div>
      </div>

      <div class="d-flex mt-3 mb-0 pt-0 pb-0 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
          [disabled]="!userForm.valid"
        >
          Withdraw
        </button>

        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>
        <label class="col" *ngIf="errored" class="text-danger">
          <i class="material-icons"></i>

          <!--ngx-alerts></ngx-alerts-->
        </label>

                    <button type="button" class="btn btn-info col-5 mx-auto" (click)="revert()">
          Cancel
        </button>
                </div>
            </form>
        </div>
    </div>
</div>
