<div
class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-0 pt-md-5 pt-xl-1 pb-0 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-0 mb-0 mb-md-5 mb-xl-4 pb-3 pb-md-5">
    <div class="row">
      <div class="col-12">
        <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
          CREATE CUSTOMER
        </h3>
        <hr class="mt-0" />
      </div>
    </div>
  <div class="card-body mt-2 pt-3 mt-xl-1 mb-3 mb-xl-0 mx-auto pb-4 shadow-lg">
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <div class="form-group text-primary">
        <label
          for="full_name"
          [ngClass]="fval.full_name.valid ? 'text-info' : ''"
          ><i *ngIf="fval.full_name.valid" class="material-icons"
            >check_circle</i
          >Full Name</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="full_name"
            formControlName="full_name"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.full_name.touched || fval.full_name.dirty) &&
                fval.full_name.errors
            }"
            placeholder="Choose Customer"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col click"
          *ngIf="
            (fval.full_name.touched || fval.full_name.dirty) &&
            fval.full_name.errors?.required
          "
        >
          The full name is required!
        </div>
        <div
        class="text-danger col"
        *ngIf="
          (fval.full_name.touched || fval.full_name.dirty) &&
          fval.full_name.errors?.minlength
        "
      >
        At least four characterS required!
      </div>

      </div>
      <!--documet_type-->
      <div class="form-group text-primary">
        <label
          for="position"
          [ngClass]="fval.document_type.valid ? 'text-info' : ''"
          ><i *ngIf="fval.document_type.valid" class="material-icons"
            >check_circle</i
          >Document Type</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-file text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <select
          formControlName="document_type"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (fval.document_type.touched || fval.document_type.dirty) &&
              fval.document_type.errors
          }"
          autocomplete="off"
          placeholder="Select document type"
          (change) ="getDocument($event)"
          required
        >
        <option value="documet" selected disabled>Select Document</option>
        <option *ngFor="let document of documents" [ngValue]="document.document_type">{{document.document_type}}</option>

        </select>
    </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.document_type.touched || fval.document_type.dirty) &&
            fval.document_type.errors?.required
          "
        >
          The document type is required!
        </div>
      </div>


      <!--document-type-->
      <div class="form-group text-primary">
        <label
          for="document_id_number"
          [ngClass]="fval.document_id_number.valid ? 'text-info' : ''"
          >{{defaultLabel}}<i
            *ngIf="fval.document_id_number.valid"
            class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-tag text-primary mx-auto"
                style="size: 50px"
              ></i>
            </div>
          </div>
          <input
            id="document_id_number"
            formControlName="document_id_number"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.document_id_number.touched || fval.document_id_number.dirty) &&
                fval.document_id_number.errors
            }"
            [placeholder]="defaultLabel"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.document_id_number.touched || fval.document_id_number.dirty) &&
            fval.document_id_number.errors?.required
          "
        >
          The {{defaultLabel}} is required!
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.document_id_number.touched || fval.document_id_number.dirty) &&
            fval.document_id_number.errors?.nationalIdCheck
          "
        >
          Please enter valid {{defaultLabel}}!
        </div>
      </div>
      <!--document_id_number-->

      <!---->


    <div class="form-group text-primary">
        <label
          for="user_contact_number"
          [ngClass]="fval.user_contact_number.valid ? 'text-info' : ''"
          >Phone Number 1<i
            *ngIf="fval.user_contact_number.valid"
            class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-phone text-primary mx-auto"
                style="size: 50px;"
              ></i>
            </div>
          </div>
          <input
            id="user_contact_number"
            formControlName="user_contact_number"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.user_contact_number.touched ||
                  fval.user_contact_number.dirty) &&
                fval.user_contact_number.errors
            }"
            [ngClass]="setClassInvalid(fval.user_contact_number)"
            placeholder="e.g. 07XXXXXXXX"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.user_contact_number.touched ||
              fval.user_contact_number.dirty) &&
            fval.user_contact_number.errors?.required
          "
        >
          The phone number is required!
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.user_contact_number.touched ||
              fval.user_contact_number.dirty) &&
            fval.user_contact_number.errors?.hasNumber
          "
        >
          The phone number should be equal to 10 "digits"!
        </div>

        <div
          class="text-danger col"
          *ngIf="
            (fval.user_contact_number.touched ||
              fval.user_contact_number.dirty) &&
              checkPhoneNumberMatch()
          "
        >
          Phone numbers should be unique!
        </div>
      </div>
      <!--two-->

    <div class="form-group text-primary">
      <label
        for="user_contact_two"
        [ngClass]="fval.user_contact_two.valid ? 'text-info' : ''"
        >Phone Number 2<i
          *ngIf="fval.user_contact_two.valid"
          class="material-icons"
          >check_circle</i
        ></label
      >
      <div class="input-group mb-0">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i
              class="fas fa-phone text-primary mx-auto"
              style="size: 50px;"
            ></i>
          </div>
        </div>
        <input
          id="user_contact_two"
          formControlName="user_contact_two"
          type="text"
          required
          class="form-control"
          [ngClass]="setClassInvalid(fval.user_contact_two)"
          placeholder="e.g. 07XXXXXXXX (Optional)"
          autocomplete="off"
        />
      </div>
      <div
        class="text-danger col"
        *ngIf="
          (fval.user_contact_two.touched ||
            fval.user_contact_two.dirty) &&
          fval.user_contact_two.errors?.hasNumber
        "
      >
        The phone number should be equal to 10 "digits"!
      </div>
      <div
          class="text-danger col"
          *ngIf="
            (fval.user_contact_two.touched ||
              fval.user_contact_two.dirty) &&
              checkPhoneNumberMatch()
          "
        >
          Phone numbers should be unique!
        </div>

    </div>

      <!--two-->
      <div
          class="text-danger col"
          *ngIf="invalid"
        >
          All fields are required!
        </div>
      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
          [disabled]="userForm.invalid"
        >
          Create
        </button>

        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          (click)="returnHome()"
          routerLink = "/application/customers"
        >
          Cancel
        </button>
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>

        <label class="col" *ngIf="errored" class="text-danger">
          <i class="material-icons">Cancel</i>

          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <i class="material-icons">check_circle</i>
          <ngx-alerts></ngx-alerts>
        </label>
      </div>
    </form>
  </div>
  </div>
</div>

