<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 pt-md-0 pt-0 pb-0 shadow-lg col-xs-12 col-lg-8"
>
<div class="jumbotron-fluid mx-0 px-0 mb-0 pb-1">
  <div class="container mt-3 mx-0 shadow-lg">
    <div class="row">
      <div class="col-12">
        <h4
          class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
        >
Create Area        </h4>
      </div>
    </div>
  </div>
  <div class="card-body mt-2 pt-4 mb-0 mx-auto pb-2 shadow-lg">
      <form [formGroup]="userForm" (ngSubmit)="create()">
        <div class="form-group text-primary">
          <label
            for="itemCreate"
            [ngClass]="fval.itemCreate.valid ? 'text-info' : ''"
            >Area<i *ngIf="fval.itemCreate.valid" class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <input
              id="itemCreate"
              formControlName="itemCreate"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (fval.itemCreate.touched || fval.itemCreate.dirty) &&
                  fval.itemCreate.errors
              }"
              placeholder="Enter area to create"
              autocomplete="off"
            /><i *ngIf="fval.itemCreate.valid" class="material-icons"
              >check_circle</i
            >
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (fval.itemCreate.touched || fval.itemCreate.dirty) &&
              fval.itemCreate.errors?.required
            "
          >
            The area name is required!
          </div>
        </div>

        <div class="d-flex mt-3 mb-0 pt-1 pb-0 mx-auto">
          <button
            type="submit"
            class="btn btn-info col-5 mx-auto"
            [disabled]="!userForm.valid"
          >
            Create
          </button>

          <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
            <p class="text-light">Please wait...</p>
          </ngx-spinner>
          <label class="col"  class="text-danger">
            <i class="material-icons"></i>

            <!--ngx-alerts></ngx-alerts-->
          </label>

          <button
            type="button"
            class="btn btn-info col-5 mx-auto"
            (click)="revert()"
            routerLink="/centralmanagement/dashboard">
            Cancel
          </button>
        </div>
      </form>
    </div>
</div>
</div>


