<div class="container-fluid mb-0 mt-md-1 pt-md-0 pt-3 pb-1 col-xs-12 col-lg-12">
  <div>
    <div class="container">
      <div class="row shadow-lg m-3">
        <div class="col-md-4 colxs-12 col-sm-12 m-2">
          <input
            type="text"
            (input)="getValue($event)"
            class="form-control"
            name=""
            id="customer"
            placeholder="Search"
            autocomplete="on"
          />
          <button
            class="btn btn-primary mt-4 ml-4 ml-sm-5 mx-md-0"
            (click)="exportToExcel()"
          >
            <i class="fas fa-file-export"></i> Export to Excel
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div
          class="conditin m-2"
          *ngIf="checkTable(filterCustomers); else noCustomer"
        >
          <div class="mytable">
            <!--table-->
            <table class="table table-bordered" #exportTable>
              <thead class="table-dark">
                <tr>
                  <th scope="col">
                    <i
                      class="fas fa-sort pointerCursor"
                      (click)="sort('customerId')"
                      >Id</i
                    >
                  </th>
                  <th scope="col">
                    <i
                      class="fas fa-sort pointerCursor"
                      (click)="sort('customerName')"
                      >customerName</i
                    >
                  </th>
                  <th scope="col">
                    <i
                      class="fas fa-sort pointerCursor"
                      (click)="sort('documentType')"
                      >DocumentType</i
                    >
                  </th>
                  <th scope="col">
                    <i
                      class="fas fa-sort pointerCursor"
                      (click)="sort('userName')"
                      >userName</i
                    >
                  </th>
                  <th scope="col">Phone1</th>
                  <th scope="col">Phone2</th>
                  <th scope="col">
                    <i
                      class="fas fa-sort pointerCursor"
                      (click)="sort('createdAt')"
                      >CreatedAt</i
                    >
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let customer of filterCustomers
                      | orderBy: key:reverse
                      | paginate
                        : {
                            id: 'my_pages',
                            itemsPerPage: pageSize,
                            currentPage: currentPage,
                            totalItems: totalItems
                          };
                    let i = index
                  "
                >
                  <th>{{ customer.customerId }}</th>
                  <th>{{ customer.customerName }}</th>
                  <th>{{ customer.documentType }}</th>
                  <th>{{ customer.userName }}</th>
                  <th>{{ customer.phoneNumber1 }}</th>
                  <th>{{ customer.phoneNumber2 }}</th>
                  <th>{{ customer.createdAt }}</th>
                </tr>
              </tbody>
            </table>
            <pagination-controls
              id="my_pages"
              (pageChange)="pageChanged($event)"
              (pageBoundsCorrection)="pageChanged($event)"
              directionLinks="true"
            >
            </pagination-controls>

            <!--table-->
            <!--loanStatus-->
          </div>
        </div>
      </div>
      <ng-template #noCustomer>
        <div class="container shadow-lg">
          <h2 class="text-center">No customer found</h2>
        </div>
      </ng-template>
    <!-- </div> -->

    <ng-template #noCustomer>
      <div class="container py-2 shadow-lg">
        <h4 class="text-center text-info">Loading...</h4>
      </div>
    </ng-template>
  </div>
</div>
<!-- footer -->
<div class="container mt-3 mt-xl-2 mb-2 pb-2">
  <div class="col-xs-12 col-lg-12">
    <div class="small text-center text-info">&copy; 2020 - LoanLead</div>
  </div>
</div>
<!-- footer /-->
