
<div
class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
<div class="jumbotron-fluid">
  <div class="head-icon d-flex justify-content-center mt-3 mb-3 pb-0">
      <img
        class="mx-auto mb-0 pb-0"
        src="assets/img/mafuta-logo-2b.svg"
        width="35"
        height="35"
      />
  </div>
  <div class="card-body mt-1 pt-2 mb-0 pb-1 shadow-lg">
    <h3 class="text-info d-flex justify-content-center mt-2 pt-1 mb-3">
      Login
    </h3>
    <form [formGroup]="userForm" (ngSubmit)="login()">

      <div class="form-group text-primary">
        <label for="user_contact_number" [ngClass]="fval.user_contact_number.valid ? 'text-info' : ''">Mobile Number<i  *ngIf="fval.user_contact_number.valid" class="material-icons">check_circle</i></label>
         <div class="input-group mb-2">
         <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-phone text-primary mx-auto" style="size: 50px">
           </i></div> </div>
                         <input id="user_contact_number" formControlName="user_contact_number" type="text" class="form-control"  [ngClass]=" { 'is-invalid': (fval.user_contact_number.touched||fval.user_contact_number.dirty) && fval.user_contact_number.errors }" placeholder="e.g. 07XXXXXXXX" autocomplete="off"/>
                       </div>
                     <div class="text-danger col" *ngIf="(fval.user_contact_number.touched||fval.user_contact_number.dirty)  && fval.user_contact_number.errors?.required">The main mobile number is required</div>
                     <div class="text-danger col" *ngIf="(fval.user_contact_number.touched||fval.user_contact_number.dirty)  && fval.user_contact_number.errors?.hasNumber">The main mobile number should be in digits/numbers</div>
                             <div class="text-danger col" *ngIf="(fval.user_contact_number.touched||fval.user_contact_number.dirty)  && fval.user_contact_number.errors?.maxlength">The main mobile number should not exceed 10 digits</div>
                             <div class="text-danger col" *ngIf="(fval.user_contact_number.touched||fval.user_contact_number.dirty)  && fval.user_contact_number.errors?.minlength">The main mobile number  should have atleast 10 digits</div>
                     </div>

      <div class="form-group text-primary">
        <label
          for="password"
          [ngClass]="fval.password.valid ? 'text-info' : ''"
          >PIN<i *ngIf="fval.password.valid" class="material-icons"
            >check_circle</i
          ></label
        >

        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-lock text-primary mx-auto"
                style="size: 50px;"
              ></i>
            </div>
          </div>
          <input
          [type]="fieldType ? 'text' : 'password'"
          id="password"
          formControlName="password"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.password.touched || fval.password.dirty) &&
                fval.password.errors
            }"
            placeholder="Enter your PIN"
            autocomplete="off"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fas"
                [ngClass]="{
                  'fa-eye-slash': !fieldType,
                  'fa-eye': fieldType
                }"
                (click)="toggleFieldType()"
              ></i>
            </span>
          </div>
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.password.touched || fval.password.dirty) &&
            fval.password.errors?.required
          "
        >
          PIN is required!
        </div>
      </div>

      <div class="row d-flex flex-row">
        <div class="col-12 my-0 pt-2 pb-0">
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-info col-12"
              [disabled]="!userForm.valid"
            >
              Login
            </button>

            <ngx-spinner
              class="bg-warning bg-info"
              size="small"
              type="ball-spin"
            >
              <h4 class="text-info">Loading...</h4>
            </ngx-spinner>
            <ngx-alerts></ngx-alerts>

            <div class="row">
              <div class="col" *ngIf="errored" class="text-danger">
                <i class="material-icons"></i>

                <ngx-alerts></ngx-alerts>
              </div>
            </div>
            <div class="row">
              <div class="col" *ngIf="posted" class="text-info">
                <i class="material-icons">check_circle</i>
                <ngx-alerts></ngx-alerts>
              </div>
            </div>
                </div>
        </div>
        <div class="col-12 d-flex flex-row justify-content-start mt-2 pt-0">
          <div class="form-group">
            Dont't have an account?<a class="text-info mr-0" routerLink="../register">
              Register &nbsp;<i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <div class="col-6 d-flex flex-row justify-content-start mt-2 pt-0">
          <div class="form-group">
            <a class="text-info mr-0" routerLink="../changepassword">
              Forgot PIN?
            </a>
          </div>
        </div>
      </div>

    </form>
  </div>
  <!--footer -->
  <div class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mx-auto">
    <div class="small text-center text-info">
     &copy; 2020 - ThunderBolt
    </div>
  </div>
  <!--/ footer -->
</div>
</div>

