<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 pb-md-0 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
      <div class="row">
        <div class="col-12">
          <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
            CUSTOMERS
          </h3>
          <hr class="mt-0" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="mt-1 mt-xl-0 pt-xl-0 mb-2 mx-0 pl-0 pl-xl-2 pr-0">
            <!-- the search section -->
            <input
              type="text"
              (input)="getValue($event)"
              class="form-control col-12"
              name=""
              id="customer"
              placeholder="Search by Customer name"
              autocomplete="on"
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 d-flex justify-content-end">
          <button
            class="btn btn-primary my-2 ml-sm-4 ml-md-5 ml-xl-1 px-2"
            tooltip="Export to Excel"
            (click)="exportToExcel()"
          >
            <i class="fas fa-file-export"></i> Export
          </button>
           <button
            class="btn btn-info my-2 ml-1 ml-sm-5 mx-md-1"
            tooltip="Create customer"
            routerLink="/application/createcustomer"
          >
            <i class="fas fa-plus"></i> Customer
          </button>
        </div>
      </div>
    </div>
    <div class="row my-0 py-0">
      <div class="col-12">
              <!--record container-->
        <div
          class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
          *ngIf="checkTable(filterCustomers); else noCustomer"
          >
            <div class="item-container-1 mt-1">
              <div
                class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-1 shadow-lg"
                *ngFor="
                      let customer of filterCustomers
                        | orderBy: key:reverse
                        | paginate
                          : {
                              id: 'my_pages',
                              itemsPerPage: pageSize,
                              currentPage: currentPage,
                              totalItems: totalItems
                            };
                      let i = index
                    "
              >
          <div class="list-card-body card-body my-0 py-0 mx-0">
        <div class="row my-0 py-0">
          <div class="col-2 col-md-1 mx-md-0 px-md-0 d-flex justify-content-center">
            <img
              class="img-circle mx-auto mt-2 mt-md-0 mt-xl-1 mb-1 pb-0"
              [src]="customer.customerPhotoUrl"
              (click)="openModal(template, customer.customerPhotoUrl)"
            />
          </div>
                    <div class="col-10 col-md-11 mx-md-0 px-md-0">
                      <div class="row mx-md-0 px-md-0">
                        <div class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">ID:</span>
                            </div>
                            <div
                              class="col-7 col-md-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                            >
                              <span class="itemCreated"> {{ customer.customerId }} </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-5 mx-xl-0 px-xl-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-3 col-xl-2 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">Name:</span>
                            </div>
                            <div
                              class="col-7 col-md-9 col-xl-10 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                            >
                              <span class="itemCreated">
                                {{ customer.customerName }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">Document:</span>
                            </div>
                            <div
                              class="col-7 col-md-9 d-flex justify-content-start font-weight-bold"
                            >
                              <span class="itemCreated">
                                {{ customer.customerIdType }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4 mx-xl-0 px-xl-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">ID Number:</span>
                            </div>
                            <div
                              class="col-7 col-md-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                            >
                              <span class="itemCreated">
                                {{ customer.customerIdNumber }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 col-xl-3 mx-xl-0 px-xl-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">Phone 1:</span>
                            </div>
                            <div
                              class="col-7 col-md-9 d-flex justify-content-start font-weight-bold"
                            >
                              <span class="itemCreated">
                                {{ customer.customerPhone1 }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 col-xl-3 mx-xl-0 px-xl-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">Phone 2:</span>
                            </div>
                            <div
                              class="col-7 col-md-9 d-flex justify-content-start font-weight-bold"
                            >
                              <span class="itemCreated">
                                {{ customer.customerPhone2 }}
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-md-4 col-xl-2 mx-xl-0 px-xl-0">
                          <div class="row">
                            <div
                              class="col-5 col-md-6 d-flex justify-content-start mx-md-0 px-md-0"
                            >
                              <span class="">Branch ID:</span>
                            </div>
                            <div
                              class="col-7 col-md-6 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                            >
                              <span class="itemCreated">
                                {{ customer.fkBranchIdCustomer }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/ end of record container-->
          <pagination-controls
            id="my_pages"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            directionLinks="true"
          >
          </pagination-controls>
      </div>
      <ng-template #noCustomer>
        <div class="col-12 my-5 py-5 justify-content-between">
          <h4 class="text-center text-info">No Customer found</h4>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Customer Photo</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-card-1 card mt-1 pt-2 mb-0 mx-auto pb-1 shadow-lg">
      <div class="list-card-body card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-12 d-flex justify-content-center">
            <img
              class="img-circle-1 mx-auto mt-2 mt-md-0 mt-xl-1 mb-1 pb-0"
              [src]="imageUrl"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
