
.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
hr{
  width: 1%;
  min-width: 1.5rem !important;
  border: 2px solid #bbb212b2;
}

.head-container{
  border-radius: 7px !important;
}
.state-table {
  height: 100%;
}
.sm-card-1 {
  background-image: linear-gradient(215deg, #114888ce, rgba(182, 188, 190, 0.7));
  border: 0rem;
}

.sm-card-2 {
  background-image: linear-gradient(215deg, #bbb212b7, rgba(182, 188, 190, 0.7));
  border: 0rem;
}

.sm-card-3 {
  background-image: linear-gradient(215deg, #114888ce, rgba(182, 188, 190, 0.7));
  border: 0rem;
}

.sm-card-4 {
  background-image: linear-gradient(215deg, #bbb212b7, rgba(182, 188, 190, 0.7));
  border: 0rem;
}



//media queries
@media (min-width: 320px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
  .sm-card-2 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-2 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-3 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-3 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 2px !important;
      padding-right: 0px !important;
  }
  .sm-card-4 {
      padding-left: 0px !important;
      padding-right: 0px !important;
  }
  .sm-card-title-4 {
      font-size: 11px !important;
      margin-left: 0px !important;
      padding-left: 3px !important;
      padding-right: 3px !important;
  }
}

@media (min-width: 568px) {
  .jumbotron-fluid {
    padding-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: .65rem !important;
    padding-bottom: 1.8rem !important;
  }
  .sm-card-1 {
      min-width: 120px;
  }
  .sm-card-2 {
      min-width: 120px;
  }
  .sm-card-3 {
      min-width: 120px;
  }
  .sm-card-4 {
      min-width: 125px;
  }
.state-table {
  min-height: 12rem;
  max-height: 34rem;
}
}

@media (min-width: 812px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: .3rem !important;
  }
.state-table {
  min-height: 12rem;
  max-height: 22rem;
}
}

@media (min-width: 1024px) {
  .jumbotron-fluid {
    padding-top: .6rem !important;
    padding-bottom: 1.8rem !important;
  }
 .stat-row .fas {
      font-size: 17px !important;
  }
  .sm-card-1 {
      min-width: 140px;
  }
  .sm-card-2 {
      min-width: 140px;
  }
  .sm-card-3 {
      min-width: 140px;
  }
  .sm-card-4 {
      min-width: 140px;
  }
.state-table {
  min-height: 12rem;
  max-height: 39rem;
}
}

@media (min-width: 1100px) {
.state-table {
  min-height: 12rem;
  max-height: 23.4rem;
}
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .jumbotron-fluid {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0rem !important;
  }
  .sm-card-1 {
      min-width: 160px;
      padding-left: 6px !important;
      padding-right: 3px !important;
  }
  .sm-card-2 {
      min-width: 160px;
      padding-left: 8px !important;
      padding-right: 3px !important;
  }
    .sm-card-3 {
        min-width: 160px;
    padding-left: 8px !important;
      padding-right: 3px !important;
  }
    .sm-card-4 {
      min-width: 160px;
      padding-left: 8px !important;
      padding-right: 3px !important;
  }

  .sm-card-title-2 {
      font-size: 14px !important;
  }
  .sm-card-title-3 {
      font-size: 14px !important;
  }
  .sm-card-title-4 {
      font-size: 14px !important;
  }
}

@media (min-width: 1320px) {
}
