<div
class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-0 pt-md-5 pt-xl-1 pb-0 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div class="row">
      <div class="col-12">
        <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
          CREATE SECURITY
        </h3>
        <hr class="mt-0" />
      </div>
    </div>
  <div class="card-body mt-2 pt-3 mt-xl-1 mb-0 mx-auto pb-4 shadow-lg">
    <form [formGroup]="userForm" (ngSubmit)="onCreate()">

<div class="form-group text-primary">
        <label for="security" [ngClass]="fval.security.valid ? 'text-info' : ''"
          >Security<i *ngIf="fval.security.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <input
            id="security"
            formControlName="security"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.security.touched || fval.security.dirty) && fval.security.errors
            }"
            placeholder="Create security"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.security.touched || fval.security.dirty) &&
            fval.security.errors?.required
          "
        >
          The security is required!
        </div>
      </div>

      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
        >
          Create
        </button>

        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          routerLink='/admin/constants'
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
</div>


