<div
class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-0 pt-md-5 pt-xl-1 pb-0 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div class="row">
      <div class="col-12">
        <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
          CREATE SECURITY
        </h3>
        <hr class="mt-0" />
      </div>
    </div>
  <div class="card-body mt-2 pt-3 mt-xl-1 mb-0 mx-auto pb-4 shadow-lg">
    <form [formGroup]="userForm" (ngSubmit)="onCreate()">
      <div class="form-group text-primary">
        <label
          for="position"
          [ngClass]="fval.securityType.valid ? 'text-info' : ''"
          >Security Type <i *ngIf="fval.securityType.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <select
          formControlName="securityType"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (fval.securityType.touched || fval.securityType.dirty) &&
              fval.securityType.errors
          }"
          autocomplete="off"
          placeholder="Select Security Type"
          required
        >
        <option value="" selected disabled>Select Security Type</option>
        <!-- <option *ngFor="let securityType of branches" >{{securityType.branchName.toUpperCase()}}</option> -->
        </select>
    </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.securityType.touched || fval.securityType.dirty) &&
            fval.securityType.errors?.required
          "
        >
          The Security Type is required
        </div>
      </div>
<div class="form-group text-primary">
        <label for="securityName" [ngClass]="fval.securityName.valid ? 'text-info' : ''"
          >Security Name<i *ngIf="fval.securityName.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <input
            id="securityName"
            formControlName="securityName"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.securityName.touched || fval.securityName.dirty) && fval.securityName.errors
            }"
            placeholder="Create Security Name"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.securityName.touched || fval.securityName.dirty) &&
            fval.securityName.errors?.required
          "
        >
          The Security Name is required
        </div>
      </div>
<div class="form-group text-primary">
        <label for="securityLocation" [ngClass]="fval.securityLocation.valid ? 'text-info' : ''"
          >securityLocation<i *ngIf="fval.securityLocation.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <input
            id="securityLocation"
            formControlName="securityLocation"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.securityLocation.touched || fval.securityLocation.dirty) && fval.securityLocation.errors
            }"
            placeholder="Create Security Location"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.securityLocation.touched || fval.securityLocation.dirty) &&
            fval.securityLocation.errors?.required
          "
        >
          The Security Location is required
        </div>
      </div>
            <div class="form-group text-primary">
              <label
                for="securityPhotoUrl"
                [ngClass]="fval.securityPhotoUrl.valid ? 'text-info' : ''"
                >Security Photo<i
                  *ngIf="fval.securityPhotoUrl.valid"
                  class="material-icons"
                  >check_circle</i
                ></label
              >
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i
                      class="fas fa-image text-primary mx-auto"
                      style="size: 50px"
                    ></i>
                  </div>
                </div>
                <input
                  id="securityPhotoUrl"
                  formControlName="securityPhotoUrl"
                  type="file"
                  src="image/*"
                  capture
                  (change)="onFileSelected($event)"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (fval.securityPhotoUrl.touched ||
                        fval.securityPhotoUrl.dirty) &&
                      fval.securityPhotoUrl.errors
                  }"
                />
              </div>
              <div
                class="text-danger col"
                *ngIf="
                  (fval.securityPhotoUrl.touched || fval.securityPhotoUrl.dirty) &&
                  fval.securityPhotoUrl.errors?.required
                "
              >
                Please upload a photo of the security
                           </div>
            </div>

      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
        >
          Create
        </button>
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>
        <ngx-alerts></ngx-alerts>
        <label class="col" *ngIf="posted" class="text-info">
          <!-- <i class="material-icons">check_circle</i> -->
          <ngx-alerts></ngx-alerts>
        </label>
        <label class="col" *ngIf="errored" class="text-info">
          <!-- <i class="material-icons">check_circle</i> -->
          <ngx-alerts></ngx-alerts>
        </label>
        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          routerLink='/admin/constants'
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
</div>


