.bg-dark {
    background-color: #141e27 !important
}

.h4 {
    color: #f2f6fad8 !important;
}

.logo {
    width: 40px !important;
    height: 40px !important;
    margin-top: 5px !important;
    margin-bottom: 15px !important;
    padding-top: 0px !important;
    margin-right: 1rem !important;
    padding-right: 0rem !important;
}

//media queries
@media (min-width: 375px) {
    .logo {
        margin-bottom: 17px !important;
    }
}

@media (min-width: 400px) {
    .logo {
        margin-bottom: 1.21rem !important;
    }
}

@media (min-width: 440px) {
    .logo {
        margin-bottom: 23px !important;
    }
}

@media (min-width: 620px) {
    .logo {
        margin-bottom: 0rem !important;
        margin-top: 0rem !important;
        // margin-bottom: 25px !important;
    }
}

@media (min-width: 730px) {
    .logo {
        margin-bottom: 0rem !important;
        margin-top: 0rem !important;
        // margin-bottom: 1.891rem !important;
        // margin-top: 15px !important;
    }
}

@media (min-width: 768px) {
    .logo {
        margin-top: 0rem !important;
        margin-bottom: 0.507rem !important;
    }
}
