<div class="jumbotron-fluid pt-2 pt-md-3 mb-0 pb-0 mx-auto mx-lg-0">
  <div class="global-container container">
    <div class="row">
      <div class="thunder-col-1 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-1 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-1">total areas</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].areas}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-map-marker fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="thunder-col-2 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-2 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0 px-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-2">total towns</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].towns}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-bottom">
                <i class="fas fa-map-marker-alt fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thunder-col-3 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-3 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0 px-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-3">total Stations</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].stations}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-gas-pump fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="thunder-col-4 col-6 col-md-3 col-xl-3 mb-4">
        <div class="sm-card-4 card shadow py-0">
          <div class="card-body">
            <div class="row">
              <div class="col mx-0 px-0">
                <div class="text-uppercase text-gray font-weight-bold mb-1">
                  <span class="sm-card-title-4">total clients</span>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="text-primary font-weight-bold h5 mb-0 pb-0">
                      <span class="pl-3 pb-0">{{totals[0].clients}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-self-baseline">
                <i class="fas fa-users fa-2x text-secondary"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="components row mt-2 pt-0">
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="container mt-0 mb-2 mx-0 shadow-lg">
          <div class="row">
            <div class="col-12">
              <h4
                class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
              >
                Notifications
              </h4>
            </div>
          </div>
        </div>
        <div class="big-card-1 card shadow-lg mb-3 pb-0">
          <div class="big-card-body-1 card-body px-auto mb-0 pb-0">
            <tabset>
              <tab heading="Creation Approovals">
                <div class="big-card-1b card shadow-lg mt-2 mb-0">
                  <div class="big-card-body-1b card-body px-auto">
                    <div class="item-header">
                      <div class="row">
                        <div class="col-6">
                          <h4 class="text-center text-info">Type</h4>
                        </div>
                        <div class="col-4 ">
                          <h4 class="text-center text-info mr-4 ">Total</h4>
                        </div>
                      </div>
                    </div>
                    <div class="item-container mt-1" *ngFor="let item of creationApprovals">
                      <div
                        class="list-card card mt-0 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
                      >
                        <div
                          class="card-body mt-0 pt-0 mb-0 pb-0 mx-0 mx-md-auto"
                        >
                          <div class="row mt-0 pt-0 mb-0 pb-0 mx-md-auto">
                            <!--div class="col-4 mx-0 px-0 mx-lg-auto">
                              <span class="itemCreated">1 &nbsp; TC20332</span>
                            </div-->
                            <div class="col-6 mx-0 pr-0 pl-1 text-center">
                              <span class="itemCreated ml-1">{{item.type}}</span>
                            </div>
                            <div class="col-4 mx-0 pr-0 pl-1 text-center">
                              <span class="itemCreated ml-1">{{item.total}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
              <tab heading="Transaction Approvals">
                <div class="big-card-1b card shadow-lg mt-2 mb-0">
                  <div class="big-card-body-1b card-body px-auto">
                    <div class="item-header">
                      <div class="row">
                        <div class="text-center col-6">
                          <h4 class="text-info">
                            Type
                          </h4>
                        </div>
                        <div class="col-4">
                          <h4 class="text-center text-info mr-4">
                            Total
                          </h4>
                        </div>
                      </div>
                    </div>
                    <div class="item-container mt-1" *ngFor="let itm of transactionApprovals">
                      <div
                        class="list-card card mt-0 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
                      >
                        <div
                          class="card-body mt-0 pt-0 mb-0 pb-0 mx-0 mx-md-auto"
                        >
                          <div class="row mt-0 pt-0 mb-0 pb-0 mx-md-auto">
                            <div class="col-6 mx-0 pr-0 pl-1 text-center">
                              <span class="itemCreated ml-1">{{itm.type}}</span>
                            </div>
                            <div class="col-4 mx-0 pr-0 pl-1 text-center">
                              <span class="rate-selected ml-2">{{itm.total}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-6">
        <div class="container mt-0 mb-2 mx-0 shadow-lg">
          <div class="row">
            <div class="col-12">
              <h4
                class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
              >
                Analysis
              </h4>
            </div>
          </div>
        </div>
        <div class="big-card-2 card shadow-lg mb-3 pb-0">
          <div class="big-card-body-2 card-body px-auto mb-0 pb-0">
                <canvas
                  ngChartjs
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [inlinePlugins]="inlinePlugin"
                  real-time
                >
                </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="components row mt-2 pt-0">
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="container mt-0 mb-2 mx-0 shadow-lg">
          <div class="row">
            <div class="col-12">
              <h4
                class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
              >
                Top Clients
              </h4>
            </div>
          </div>
        </div>
        <div class="big-card-3 card shadow-lg mb-3 pb-0">
          <div class="big-card-body-3 card-body px-auto mb-0 pb-0">
            <div class="item-header">
              <div class="row">
                <div class="text-center col-5">
                  <h4 class="text-info mt-0">
                    ID
                  </h4>
                </div>
                <div class="col-6">
                  <h4 class="text-center text-info">Name</h4>
                </div>
              </div>
            </div>
            <div class="item-container mt-1" *ngFor="let client of topClients">
              <div
                class="list-card card mt-0 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
              >
                <div class="card-body mt-0 pt-0 mb-0 pb-0 mx-0 mx-md-auto">
                  <div class="row mt-0 pt-0 mb-0 pb-0 mx-md-auto">
                    <div class="col-5 mx-0 px-0 mx-lg-auto">
                      <span class="itemCreated">{{client.ID}}</span>
                    </div>
                    <div class="col-6 mx-0 pr-0 pl-1">
                      <span class="itemCreated ml-1">{{client.name}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="container mt-0 mb-2 mx-0 shadow-lg">
          <div class="row">
            <div class="col-12">
              <h4
                class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
              >
                Top Users
              </h4>
            </div>
          </div>
        </div>
        <div class="big-card-3 card shadow-lg mb-3 pb-0">
          <div class="big-card-body-3 card-body px-auto mb-0 pb-0">
            <div class="item-header">
              <div class="row">
                <div class="col-5">
                  <h4 class="text-center text-info">Name</h4>
                </div>
                <div class="col-6">
                  <h4 class="text-center text-info">Jurisdiction</h4>
                </div>
              </div>
            </div>
            <div class="item-container mt-1" *ngFor="let user of topUsers">
              <div
                class="list-card card mt-0 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
              >
                <div class="card-body mt-0 pt-0 mb-0 pb-0 mx-0 mx-md-auto">
                  <div class="row mt-0 pt-0 mb-0 pb-0 mx-md-auto">
                    <div class="col-7 mx-0 pr-0 pl-1">
                      <span class="itemCreated ml-1">{{user.name}}</span>
                    </div>
                    <div class="col-5 mx-0 pr-0 pl-1">
                      <span class="itemCreated ml-1">{{user.place}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4">
        <div class="container mt-0 mb-2 mx-0 shadow-lg">
          <div class="row">
            <div class="col-12">
              <h4
                class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
              >
                Leading Stations
              </h4>
            </div>
          </div>
        </div>
        <div class="big-card-4 card shadow-lg mb-3 pb-0">
          <div class="big-card-body-4 card-body px-auto mb-0 pb-0">
            <div class="item-header">
              <div class="row">
                <div class="col-4">
                  <h4 class="text-center text-info">Station</h4>
                </div>
                <div class="col-3">
                  <h4 class="text-center text-info">Town</h4>
                </div>
                <div class="col-3">
                  <h4 class="text-center text-info">Area</h4>
                </div>
              </div>
            </div>
            <div class="item-container mt-1" *ngFor="let station of topStations">
              <div
                class="list-card card mt-0 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
              >
                <div class="card-body mt-0 pt-0 mb-0 pb-0 mx-0 mx-md-auto">
                  <div class="row mt-0 pt-0 mb-0 pb-0 mx-md-auto">
                    <div class="col-3 mx-0 pr-0 pl-1">
                      <span class="itemCreated ml-1">{{station.name}}</span>
                    </div>
                    <div class="col-3 mx-0 pr-0 pl-1">
                      <span class="itemCreated ml-1">{{station.town}}</span>
                    </div>
                    <div class="col-5 mx-0 pr-0 pl-1">
                      <span class="itemCreated ml-1">{{station.area}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--footer -->
<div
  class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mb-3 mx-auto"
>
  <div class="small text-center text-info">&copy; 2020 - ThunderBolt</div>
</div>
<!--/ footer -->
