.card-body {
  height: inherit;
  width: 100%;
  max-width: 300px;
  min-width: 260px;
  margin-bottom: 0rem;
  border-radius: 8px;
contain: auto;
}

.text-info{
color: #114b88 !important;
}

.btn {
  border-radius: 12px;
}

.pointerCursor {
  cursor: pointer;
}

//styling of color of placeholder
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(187, 190, 192);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    rgb(187, 190, 192);
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    rgb(187, 190, 192);
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    rgb(187, 190, 192);
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    rgb(187, 190, 192);
}
::placeholder { /* Most modern browsers support this now. */
  color:    rgb(187, 190, 192);
}



//media queries
@media (min-width: 320px) {
  .card-body {
    margin-bottom: .4rem !important;
  }
}


@media (min-width: 360px) {
  .card-body {
    max-width: 350px;
    min-width: 330px;
  }
    }

@media (min-width: 375px) {
  .card-body {
    max-width: 360px;
    min-width: 350px;
  }

}


@media (min-width: 410px) {
}


@media (min-width: 568px) {
}


@media (min-width: 640px) {}


@media (min-width: 768px) {
  .card-body {
    margin-bottom: 9rem !important;
  }

}


@media (min-width: 812px) {
  .card-body {
    margin-bottom: 0px !important;
  }
}


@media (min-width: 1024px) {
  .card-body {
    margin-bottom: 13rem !important;
  }
  .head-icon {
    margin-top: 8rem !important;
    margin-bottom: 1.8rem !important;
  }
  .jumbotron-fluid {
    margin-bottom: 2.2rem !important;
  }
}


@media (min-width: 1100px) {
  .head-icon {
    margin-top: .6rem !important;
    margin-bottom: .65rem !important;
  }
  .card-body {
    margin-bottom: .65rem !important;
  }
}

@media (min-width: 1280px) {
  .head-icon {
    margin-top: 0rem !important;
    margin-bottom: .65rem !important;
  }
  .card-body {
    margin-bottom: .4rem !important;
  }
  .jumbotron-fluid {
    margin-bottom: 0rem !important;
  }
}


@media (min-width: 1320px) {}
