<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid mb-0 pb-0">
    <div class="head-icon d-flex justify-content-center mt-3 mb-3 pb-0">
      <img
        class="mx-auto mb-0 pb-0"
        src="assets/img/mafuta-logo-2b.svg"
        width="35"
        height="35"
      />
  </div>
  <div class="card-body mt-1 pt-2 mb-0 pb-3 shadow-lg">
    <h3 class="text-info d-flex justify-content-center mt-2 pt-1 mb-3">
      Register
    </h3>
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <div class="form-group text-primary">
        <label
          for="full_name"
          [ngClass]="fval.full_name.valid ? 'text-info' : ''"
          ><i *ngIf="fval.full_name.valid" class="material-icons"
            >check_circle</i
          >Full Name</label
        >
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="full_name"
            formControlName="full_name"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.full_name.touched || fval.full_name.dirty) &&
                fval.full_name.errors
            }"
            placeholder="Enter Name"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.full_name.touched || fval.full_name.dirty) &&
            fval.full_name.errors?.required
          "
        >
          The full name is required!
        </div>
        <div
        class="text-danger col"
        *ngIf="
          (fval.full_name.touched || fval.full_name.dirty) &&
          fval.full_name.errors?.minlength
        "
      >
        Atleast four character required
      </div>

      </div>


<div class="form-group text-primary">
        <label for="email" [ngClass]="fval.email.valid ? 'text-info' : ''"
          >Email<i *ngIf="fval.email.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-envelope text-primary mx-auto"
                style="size: 50px;"
              ></i>
            </div>
          </div>
          <input
            id="email"
            formControlName="email"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.email.touched || fval.email.dirty) && fval.email.errors
            }"
            placeholder="Enter email address"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.email.touched || fval.email.dirty) &&
            fval.email.errors?.required
          "
        >
          The email address is required!
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.email.touched || fval.email.dirty) &&
            fval.email.errors?.email
          "
        >
          Please enter valid email address!
        </div>
      </div>
    <div class="form-group text-primary">
        <label
          for="user_contact_number"
          [ngClass]="fval.user_contact_number.valid ? 'text-info' : ''"
          >Mobile Number<i
            *ngIf="fval.user_contact_number.valid"
            class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-phone text-primary mx-auto"
                style="size: 50px;"
              ></i>
            </div>
          </div>
          <input
            id="user_contact_number"
            formControlName="user_contact_number"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.user_contact_number.touched ||
                  fval.user_contact_number.dirty) &&
                fval.user_contact_number.errors
            }"
            placeholder="e.g. 07XXXXXXXX"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.user_contact_number.touched ||
              fval.user_contact_number.dirty) &&
            fval.user_contact_number.errors?.required
          "
        >
          The mobile number is required!
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.user_contact_number.touched ||
              fval.user_contact_number.dirty) &&
            fval.user_contact_number.errors?.hasNumber
          "
        >
          The mobile number should be equal to 10 "digits"!
        </div>
      </div>

      
      <div class="form-group text-primary">
        <label
          for="position"
          [ngClass]="fval.branches.valid ? 'text-info' : ''"
          ><i *ngIf="fval.branches.valid" class="material-icons"
            >check_circle</i
          >Branch</label
        >
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-code-branch text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <select
          formControlName="branches"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (fval.branches.touched || fval.branches.dirty) &&
              fval.branches.errors
          }"
          autocomplete="off"
          placeholder="Select a branch"
          (change) ="getBranch($event)"
          required
        >
        <option value="" selected disabled>selectBranch</option>
        <option *ngFor="let branches of branch" [ngValue]="branches">{{branches}}</option>

        </select>
    </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.branches.touched || fval.branches.dirty) &&
            fval.branches.errors?.required
          "
        >
          The branch is required!
        </div>
      </div>

      <div class="form-group text-primary">
        <label for="password" [ngClass]="fval.password.valid ? 'text-info' : ''"
          >Password<i *ngIf="fval.password.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-key text-primary mx-auto"
                style="size: 50px;"
              ></i>
            </div>
          </div>
          <input
            id="password"
            formControlName="password"
            type="password"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.password.touched || fval.password.dirty) && fval.password.errors
            }"
            placeholder="Enter password"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.password.touched || fval.password.dirty) &&
            fval.password.errors?.required
          "
        >
          password required
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.password.touched || fval.password.dirty)&&fval.password.errors?.hasNumber
          "
        >
          password should contain a number and an uppercase letter
        </div>
      </div>
      <div class="form-group text-primary">
        <label for="email" [ngClass]="fval.confirm.valid ? 'text-info' : ''"
          >ConfirmPassword<i *ngIf="fval.email.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-1">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i
                class="fas fa-key text-primary mx-auto"
                style="size: 50px;"
              ></i>
            </div>
          </div>
          <input
            id="confirm"
            formControlName="confirm"
            type="password"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.confirm.touched || fval.confirm.dirty) && fval.confirm.errors
            }"
            placeholder="confirm password"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.confirm.touched || fval.confirm.dirty) &&
          fval.confirm.hasError('required')
          "
        >
          passwords required
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.confirm.touched || fval.confirm.dirty) &&
           matchPasswords()
          "
        >
          passwords dont match
        </div>        
      </div>

      <div
          class="text-danger col"
          *ngIf="invalid"
        >
          all fields are required
        </div>  
      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"  
        >
          Register
        </button>

        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          (click)="returnHome()"
          routerLink = "/authpage/login"
        >
          Cancel
        </button>
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>

        <label class="col" *ngIf="errored" class="text-danger">
          <i class="material-icons">Cancel</i>

          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <i class="material-icons">check_circle</i>
          <ngx-alerts></ngx-alerts>
        </label>
      </div>
    </form>
    <!-- </div>  -->
    <!-- </div>   -->
  </div>
  <!--footer -->
    <div
      class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mb-2 mx-auto"
    >
      <div class="small text-center text-primo">
       &copy; 2020 - LoanLead
      </div>
    </div>
    <!--/ footer -->
  </div>
</div>

