.card-body {
  height: inherit;
  width: 100%;
  max-width: 300px;
  min-width: 260px;
  margin-bottom: 0rem;
  border-radius: 8px;
contain: auto;
}

.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee
}
  .btn-info:hover, .btn-info:focus {
    color: #d9dbdd;
    background-color: #17aae0ee;
    border-color: #17aae0ee
  }
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 .2rem #0e99ccee
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec
}


button.btn {
  border-radius: 15px;
}

.pointerCursor {
  cursor: pointer;
}

h3 {
  font-size: 13px !important;
}


//media queries
@media (min-width: 320px) {
  h3 {
    font-size: 17px !important;
  }
  .card-body {
    margin-bottom: 40px !important;
  }
  .jumbotron-fluid {
    margin-bottom: 0px !important;
  }

}


@media (min-width: 360px) {
  .card-body {
    max-width: 350px;
    min-width: 330px;
  }
    }

@media (min-width: 375px) {
  .card-body {
    max-width: 360px;
    min-width: 350px;
  }

}


@media (min-width: 410px) {
  h3 {
    font-size: 20px !important;
  }
}


@media (min-width: 568px) {
}


@media (min-width: 640px) {}


@media (min-width: 768px) {
  h3 {
    font-size: 24px !important;
  }
  .card-body {
    margin-bottom: 20px !important;
  }

}


@media (min-width: 812px) {
  .card-body {
    margin-bottom: 0px !important;
  }
}


@media (min-width: 1024px) {
  .card-body {
    margin-bottom: 220px !important;
  }
}


@media (min-width: 1100px) {
      h3 {
    font-size: 27px !important;
  }
}

@media (min-width: 1280px) {
  .card-body {
    margin-bottom: 20px !important;
  }

}


@media (min-width: 1320px) {}
