<div
class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 pt-0 pt-md-5 pt-xl-1 pb-0 pb-xl-5 shadow-lg col-xs-12 col-lg-9"
>
  <div class="jumbotron-fluid col-12 mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div class="row">
      <div class="col-12">
        <h3 class="rub-head4 text-info text-center font-weight-bold pt-0 pb-1">
          CREATE LOAN
        </h3>
        <hr class="mt-0" />
      </div>
    </div>
  <div class="form-card card-body mt-2 pt-3 mt-xl-1 mb-4 mx-auto pb-4 shadow-lg">
    <form [formGroup]="userForm" (ngSubmit)="register()">
      <div class="form-group text-primary">
         <button
             class="btn btn-info mt-1 mb-3"
             type="button"
             (click)="getCustomer(template)"
             >Choose Customer</button>
             <!--create a customer modal-->
              <ng-template #template>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Customers</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <!--customer table-->
               <div class="form-group">
                 <input type="text"
                 (input)="getValue($event)"
                 placeholder="Search" class="form-control col-12 col-sm-9 col-md-7 col-lg-5">
                </div>
    <div class="row">
      <div class="col-12">
        <!--record container-->
        <div
          class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
           *ngIf="checkTable(filteredCustomers); else noloans"
        >
          <div class="item-container-1 mt-1">
            <div
              class="list-card card my-1 mt-lg-0 pt-0 mx-auto mx-xl-3 px-0 pb-0 shadow-lg"
              *ngFor="let customer of filteredCustomers|orderBy:key:reverse|paginate:{
 id:'my_pages', itemsPerPage:pageSize, currentPage:currentPage,totalItems:totalItems
}"
                (click)="getCustomerName(customer.customerId)"
            >
              <div class="list-card-body card-body mt-1 py-0 mx-lg-0 px-lg-0">
                <div class="row my-0 py-0">
                  <div
                    class="col-2 d-flex justify-content-center mx-lg-0 px-lg-0"
                  >
                    <img
                      class="img-circle mx-auto mx-lg-0 px-lg-2 mt-2 mt-md-0 my-xl-0 pb-0"
                      src="assets/img/man.svg"
              (click)="openModal(template)"
                    />
                  </div>
                  <div class="col-10 mx-lg-0 px-lg-0">
                    <div class="row mx-md-0 px-md-0">
                      <div
                        class="col-12 col-md-5 col-lg-3 mx-xl-0 px-xl-0"
                      >
                        <div class="row">
                          <div
                            class="col-4 col-md-3 d-flex justify-content-start mx-0 px-0"
                          >
                            <span class="">ID:</span>
                          </div>
                          <div
                            class="col-8 col-md-9 d-flex justify-content-start font-weight-bold mx-0 px-0"
                          >
                            <span class="itemCreated"> {{ customer.customerId}} </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-7 col-lg-5 mx-xl-0 px-xl-0">
                        <div class="row">
                          <div
                            class="col-4 col-md-3 d-flex justify-content-start mx-0 px-0"
                          >
                            <span class="">Name:</span>
                          </div>
                          <div
                            class="col-8 col-md-9 d-flex justify-content-start font-weight-bold mx-0 px-0"
                          >
                            <span class="itemCreated">
                              {{ customer.customerName}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-5 col-lg-4 mx-xl-0 px-xl-0">
                        <div class="row">
                          <div
                            class="col-5 col-md-3 col-xl-6 d-flex justify-content-start mx-0 px-0"
                          >
                            <span class="">Document Type:</span>
                          </div>
                          <div
                            class="col-7 col-md-9 col-xl-6 d-flex justify-content-start font-weight-bold mx-0 px-0"
                          >
                            <span class="itemCreated">
                              {{ customer.documentType}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-lg-4 mx-xl-0 px-xl-0">
                        <div class="row">
                          <div
                            class="col-5 col-md-6 d-flex justify-content-start mx-0 px-0"
                          >
                            <span class="">Document ID:</span>
                          </div>
                          <div
                            class="col-7 col-md-6 d-flex justify-content-start font-weight-bold mx-lg-0 px-lg-0"
                          >
                            <span class="itemCreated">
                              {{ customer.documentId}}
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-xl-4 mx-xl-0 px-xl-0">
                        <div class="row">
                          <div
                            class="col-4 col-md-3 d-flex justify-content-start mx-0 px-0"
                          >
                            <span class="">Phone 1:</span>
                          </div>
                          <div
                            class="col-8 col-md-9 d-flex justify-content-start font-weight-bold mx-0 px-0"
                          >
                            <span class="itemCreated">
                                            {{ customer.phoneNumber1 }}

                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6 col-xl-4 mx-xl-0 px-xl-0">
                        <div class="row">
                          <div
                            class="col-4 col-md-3 d-flex justify-content-start mx-0 px-0"
                          >
                            <span class="">Phone 2:</span>
                          </div>
                          <div
                            class="col-8 col-md-9 d-flex justify-content-start font-weight-bold mx-0 px-0"
                          >
                            <span class="itemCreated">
                                            {{ customer.phoneNumber2 }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ end of record container-->
      </div>
    </div>
              <pagination-controls  id="my_pages"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            directionLinks="true">
           </pagination-controls>
        <ng-template #noloans>
          <div class="col-12 my-5 py-5 justify-content-between">
            <h4 class="text-center text-info">No Customer found</h4>
          </div>
        </ng-template
        >
      </div>
  </ng-template>
<br>
        <label for="full_name">Customer Name</label>
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="full_name"
            formControlName="full_name"
            type="text"
            required
            class="form-control"
            placeholder="Click button to select name"
            autocomplete="off"
          />
        </div>
      </div>
      <!--loan type-->
      <div class="form-group text-primary">
        <label
          for="position"
          [ngClass]="fval.loan_type.valid ? 'text-info' : ''"
          ><i *ngIf="fval.loan_type.valid" class="material-icons"
            >check_circle</i
          >Loan Type</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <select
          formControlName="loan_type"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (fval.loan_type.touched || fval.loan_type.dirty) &&
              fval.loan_type.errors
          }"
          autocomplete="off"
          placeholder="Select a loan"
          (change) ="getLoanType($event)"
          required
        >
        <option value="" selected disabled>selectLoan</option>
        <option *ngFor="let loan_type of loan_types" [ngValue]="loan_type">{{loan_type}}</option>

        </select>
    </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.loan_type.touched || fval.loan_type.dirty) &&
            fval.loan_type.errors?.required
          "
        >
          The loan type is required!
        </div>
      </div>

       <div class="form-group text-primary">
        <label
          for="amount"
          [ngClass]="fval.amount.valid ? 'text-info' : ''"
          ><i *ngIf="fval.amount.valid" class="material-icons"
            >check_circle</i
          >Amount</label
        >
        <div class="input-group mb-0">
          <input
            id="amount"
            formControlName="amount"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.amount.touched || fval.amount.dirty) &&
                fval.amount.errors
            }"
            placeholder="Enter amount"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.amount.touched || fval.amount.dirty) &&
            fval.amount.errors?.required
          "
        >
          The loan amount is required!
        </div>
      </div>


      <!--loan type-->
      <div class="form-group text-primary">
        <label
          for="loan_product"
          [ngClass]="fval.loan_product.valid ? 'text-info' : ''"
          ><i *ngIf="fval.loan_product.valid" class="material-icons"
            >check_circle</i
          >Loan Product</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="loan_product"
            formControlName="loan_product"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.loan_product.touched || fval.loan_product.dirty) &&
                fval.loan_product.errors
            }"
            placeholder="Enter Loan Product"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.loan_product.touched || fval.loan_product.dirty) &&
            fval.amount.errors?.required
          "
        >
          The loan product is required!
        </div>
      </div>

      <div class="form-group text-primary">
        <label
          for="tenure"
          [ngClass]="fval.tenure.valid ? 'text-info' : ''"
          ><i *ngIf="fval.tenure.valid" class="material-icons"
            >check_circle</i
          >Tenure</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="tenure"
            formControlName="tenure"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.tenure.touched || fval.tenure.dirty) &&
                fval.tenure.errors
            }"
            placeholder="Enter Loan tenure"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.tenure.touched || fval.tenure.dirty) &&
            fval.tenure.errors?.required
          "
        >
          The loan tenure is required!
        </div>
      </div>
      <!--securities-->
      <label for="">Choose Security</label>
      <div class="form-group form-check">
        <input type="checkbox"
        (click)="getAllSecurities(checkAllSecurities)"
        id="checks">
        <label for="checks">&nbsp;&nbsp;Check All Security</label>
      </div>

        <div class="form-group form-check" *ngFor="let security of FormArrayControls.controls; let i = index ">
          <!-- <div class="form-control"> -->
             <input type="checkbox"
             [formControl]="security"
             required
             (change) = "getSecuritiesChecked()"
             class="m-2" id="checkbox{{i}}">
            <label  for="checkbox{{i}}">{{securities[i]}}</label>
          <!-- </div> -->
          <div class="text-center">
            <p *ngIf="error" class="text-danger">At least One Security is required!</p>
          </div>

  </div>
      <div
          class="text-danger col"
          *ngIf="invalid"
        >
          All fields are required!
        </div>
      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
        >
          Create
        </button>

        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          (click)="returnHome()"
          routerLink = "/application/createloans"
        >
          Cancel
        </button>
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>

        <label class="col" *ngIf="errored" class="text-danger">
          <i class="material-icons">Cancel</i>

          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <i class="material-icons">check_circle</i>
          <ngx-alerts></ngx-alerts>
        </label>
      </div>
    </form>
  </div>
  </div>
</div>


