<div
class="container-fluid d-flex flex-row justify-content-center mb-0 mt-1 pt-0 pt-md-5 pt-xl-1 pb-0 pb-xl-5 shadow-lg col-xs-12 col-lg-9"
>
  <div class="jumbotron-fluid col-12 mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div class="row">
      <div class="col-12">
        <h3 class="rub-head4 text-info text-center font-weight-bold pt-0 pb-1">
          CREATE LOAN
        </h3>
        <hr class="mt-0" />
      </div>
    </div>
  <div class="form-card card-body mt-2 pt-3 mt-xl-1 mb-4 mx-auto pb-4 shadow-lg">
    <form [formGroup]="userForm">
      <div class="form-group text-primary">
         <button
             class="btn btn-primary mt-1 mb-3"
             type="button"
             (click)="openModal(template)"
             >Choose Customer</button>
             <!--create a customer modal-->
              <ng-template #template>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Customers</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <!--customer table-->
               <div class="form-group">
                 <input type="text"
                 (input)="getValue($event)"
                 placeholder="Search" class="form-control col-12 col-sm-9 col-md-7 col-lg-5">
                </div>
    <div class="row">
      <div class="col-12">
        <!--record container-->
        <div
          class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
           *ngIf="checkTable(filteredCustomers); else noloans"
        >
          <div class="item-container-1 mt-1">
            <div
              class="list-card card my-1 mt-lg-0 pt-0 mx-auto mx-xl-3 px-0 pb-0 shadow-lg"
              *ngFor="let customer of filteredCustomers|orderBy:key:reverse|paginate:{
                id:'my_pages', itemsPerPage:pageSize, currentPage:currentPage,totalItems:totalItems
                  }"
              (click)="checkCustomer(customer)"
            >
            <div class="list-card-body card-body my-0 py-0 mx-0">
              <div class="row my-0 py-0">
                <div class="col-2 col-md-1 mx-md-0 px-md-0 d-flex justify-content-center">
                  <img
                    class="img-circle mx-auto mt-2 mt-md-0 mt-xl-1 mb-1 pb-0"
                    [src]="customer.customerPhotoUrl"

                  />
                  <!-- (click)="openModal(template, customer.customerPhotoUrl)" -->
                </div>
                          <div class="col-10 col-md-11 mx-md-0 px-md-0">
                            <div class="row mx-md-0 px-md-0">
                              <div class="col-12 col-md-6 col-xl-3 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">ID:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated"> {{ customer.customerId }} </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-5 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Customer:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ customer.customerName }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Document:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ customer.customerIdType }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-6 col-xl-4 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">ID Number:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ customer.customerIdNumber }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-4 col-xl-3 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Phone 1:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-9 d-flex justify-content-start font-weight-bold"
                                  >
                                    <span class="itemCreated">
                                      {{ customer.customerPhone1 }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-4 col-xl-3 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Phone 2:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-9 d-flex justify-content-start font-weight-bold"
                                  >
                                    <span class="itemCreated">
                                      {{ customer.customerPhone2 }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 col-md-4 col-xl-2 mx-xl-0 px-xl-0">
                                <div class="row">
                                  <div
                                    class="col-5 col-md-6 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Branch ID:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-6 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ customer.fkBranchIdCustomer }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
          </div>
        </div>
        <!--/ end of record container-->
      </div>
    </div>
              <pagination-controls  id="my_pages"
            (pageChange)="pageChanged($event)"
            (pageBoundsCorrection)="pageChanged($event)"
            directionLinks="true">
           </pagination-controls>
        <ng-template #noloans>
          <div class="col-12 my-5 py-5 justify-content-between">
            <h4 class="text-center text-info">No Customer found</h4>
          </div>
        </ng-template
        >
      </div>
  </ng-template>
  <ng-template #securities>
    <div class="card-body col-12 col-sm-8 col-md-5 col-lg-4 my-3 pt-3 mx-auto pb-4 shadow-lg">
      <form [formGroup]="securityForm">
        <div class="form-group text-primary">
          <label
            for="position"
            [ngClass]="securityForm.controls.securityType.valid ? 'text-info' : ''"
            >Security Type<i *ngIf="securityForm.controls.securityType.valid" class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-file text-primary mx-auto" style="size: 50px;">
                </i>
              </div>
            </div>
            <select
            formControlName="securityType"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (securityForm.controls.securityType.touched || securityForm.controls.securityType.dirty) &&
                securityForm.controls.securityType.errors
            }"
            autocomplete="off"
            placeholder="Select security type"
            required
          >
            <option value="security">Select Security Type</option>
            <option *ngFor="let name of securityNames">{{name}}</option>
          </select>
      </div>
          <div
            class="text-danger col"
            *ngIf="
              (securityForm.controls.securityType.touched || securityForm.controls.securityType.dirty) &&
              securityForm.controls.securityType.errors?.required
            "
          >
            The security type is required
          </div>
        </div>
        <div class="form-group text-primary">

          <label
            for="securityName"
            [ngClass]="securityForm.controls.securityName.valid ? 'text-info' : ''"
            >Security Name<i *ngIf="securityForm.controls.securityName.valid" class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
                </i>
              </div>
            </div>
            <input
              id="securityName"
              formControlName="securityName"
              type="text"
              required
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (securityForm.controls.securityName.touched || securityForm.controls.securityName.dirty) &&
                  securityForm.controls.securityName.errors
              }"
              placeholder="Security Name"
              autocomplete="off"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (securityForm.controls.securityName.touched || securityForm.controls.securityName.dirty) &&
              securityForm.controls.securityName.errors?.required
            "
          >
            The Security Name is required
          </div>
        </div><div class="form-group text-primary">

          <label
            for="securityLocation"
            [ngClass]="securityForm.controls.securityLocation.valid ? 'text-info' : ''"
            >Security Location<i *ngIf="securityForm.controls.securityLocation.valid" class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
                </i>
              </div>
            </div>
            <input
              id="securityLocation"
              formControlName="securityLocation"
              type="text"
              required
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (securityForm.controls.securityLocation.touched || securityForm.controls.securityLocation.dirty) &&
                  securityForm.controls.securityLocation.errors
              }"
              placeholder="security Location"
              autocomplete="off"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (securityForm.controls.securityLocation.touched || securityForm.controls.securityLocation.dirty) &&
              securityForm.controls.securityLocation.errors?.required
            "
          >
            The Security Location is required
          </div>
        </div>
        <!---->
        <div class="form-group text-primary">
          <label
            for="securityPhotoUrl"
            [ngClass]="securityForm.controls.securityPhotoUrl.valid ? 'text-info' : ''"
            >Security Photo<i
              *ngIf="securityForm.controls.securityPhotoUrl.valid"
              class="material-icons"
              >check_circle</i
            ></label
          >
          <div class="input-group mb-0">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i
                  class="fas fa-image text-primary mx-auto"
                  style="size: 50px"
                ></i>
              </div>
            </div>
            <input
              id="securityPhotoUrl"
              formControlName="securityPhotoUrl"
              type="file"
              src="image/*"
              capture
              (change)="onFileSelected($event)"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  (securityForm.controls.securityPhotoUrl.touched ||
                  securityForm.controls.securityPhotoUrl.dirty) &&
                  securityForm.controls.securityPhotoUrl.errors
              }"
            />
          </div>
          <div
            class="text-danger col"
            *ngIf="
              (securityForm.controls.securityPhotoUrl.touched || securityForm.controls.securityPhotoUrl.dirty) &&
              securityForm.controls.securityPhotoUrl.errors?.required
            "
          >
            Please upload the security photo
          </div>
        </div>
        <div class="d-flex my-2 py-2 mx-auto">
          <button
            type="button"
            class="btn btn-info mx-auto"
            [disabled]="!securityForm.valid"
            (click)="addSecurity()" tooltip="Add Security"
          >
            Save & Add
          </button>
          <button
            type="button"
            class="btn btn-info mx-auto"
            [disabled]="!securityForm.valid"
            (click)="finishSecurity()"
          >
            Save & Finish
          </button>
        </div>
      </form>
    </div>
  </ng-template>
<br>
  <label for="full_name">Customer Name</label>
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="full_name"
            formControlName="full_name"
            type="text"
            required
            class="form-control"
            placeholder="Click button to select name"
            autocomplete="off"
          />
        </div>
      </div>
      <!--loan type-->
      <div class="form-group text-primary">
        <label
          for="loan_type"
          [ngClass]="fval.loan_type.valid ? 'text-info' : ''"
          ><i *ngIf="fval.loan_type.valid" class="material-icons"
            >check_circle</i
          >Loan Threshold Type</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <select
          formControlName="loan_type"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (fval.loan_type.touched || fval.loan_type.dirty) &&
              fval.loan_type.errors
          }"
          autocomplete="off"
          placeholder="Select a loan"
          required
          (change)='setMaxtenureAndAmount(fval.loan_type.value)'
        >
        <option value="" selected disabled>Select Loan Threshold</option>
        <option *ngFor="let loan_type of loanTypes">{{loan_type.loanThresholdType}}</option>

        </select>
    </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.loan_type.touched || fval.loan_type.dirty) &&
            fval.loan_type.errors?.required
          "
        >
          The loan threshold type is required
        </div>
      </div>

       <div class="form-group text-primary">
        <label
          for="amount"
          [ngClass]="fval.amount.valid ? 'text-info' : ''"
          ><i *ngIf="fval.amount.valid" class="material-icons"
            >check_circle</i
          >Amount</label
        >
        <div class="input-group mb-0">
          <input
            id="amount"
            formControlName="amount"
            type="text"
            required
            class="form-control"
            (blur)="checkTenureAndAmount($event)"
            [ngClass]="{
              'is-invalid':
                (fval.amount.touched || fval.amount.dirty) &&
                fval.amount.errors
            }"
            (keyup)="onKey($event)"
            placeholder="Enter Loan amount"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.amount.touched || fval.amount.dirty) &&
            fval.amount.errors?.required
          "
        >
          The loan amount is required
        </div>
        <div
        class="text-danger col"
        *ngIf="
          (fval.amount.touched || fval.amount.dirty) &&
          fval.amount.errors?.hasNumber
        "
      >
        Please enter valid amount to borrow!
      </div>
      </div>
      <div class="form-group text-primary">
        <label
          for="tenure"
          [ngClass]="fval.tenure.valid ? 'text-info' : ''"
          ><i *ngIf="fval.tenure.valid" class="material-icons"
            >check_circle</i
          >Tenure</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="tenure"
            formControlName="tenure"
            type="number"
            [max]="maxTenure"
            min="0"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (fval.tenure.touched || fval.tenure.dirty) &&
                fval.tenure.errors
            }"
            placeholder="Enter Loan tenure"
            autocomplete="off"
            (blur)="checkTenureAndAmount($event)"
          />
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.tenure.touched || fval.tenure.dirty) &&
            fval.tenure.errors?.required
          "
        >
          The loan tenure is required
        </div>
      </div>
      <div class="form-group text-primary">
        <label
          for="comment"
          [ngClass]="fval.comment.valid ? 'text-info' : ''"
          ><i *ngIf="fval.comment.valid" class="material-icons"
            >check_circle</i
          >Comment</label
        >
        <div class="input-group mb-0">
          <textarea
            id="comment"
            formControlName="comment"
            required
            class="form-control" rows="2"
            [ngClass]="{
              'is-invalid':
                (fval.comment.touched || fval.comment.dirty) &&
                fval.comment.errors
            }"
            placeholder="Enter Comment"
          ></textarea>
        </div>
        <div
          class="text-danger col"
          *ngIf="
            (fval.comment.touched || fval.comment.dirty) &&
            fval.comment.errors?.required
          "
        >
          The comment is required!
        </div>
        <div
        class="text-danger col"
        *ngIf="
          (fval.comment.touched || fval.comment.dirty) &&
          fval.comment.errors?.maxlength
        "
      >
        At most 30 characters required!
      </div>
      </div>
      <div class="form-group text-primary">
        <label
          for="securities"
          >Securities</label
        >
        <button
          type="button"
          class="btn btn-primary col-12 mx-auto"
          (click)="openModal(securities)"
        >
          Add Securities
        </button>
      </div>

      <!--securities-->


      <div
          class="text-danger col"
          *ngIf="invalid"
        >
          All fields are required!
        </div>
      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
          [disabled]="!userForm.valid"
          (click)="register()"
        >
          Create
        </button>

        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          (click)="returnHome()"
          routerLink = "/application/createloans"
        >
          Cancel
        </button>
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>

        <label class="col" *ngIf="errored" class="text-danger">
          <!-- <i class="material-icons">Cancel</i> -->

          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <!-- <i class="material-icons">check_circle</i> -->
          <ngx-alerts></ngx-alerts>
        </label>
      </div>
    </form>
  </div>
  </div>
</div>


