.jumbotron-fluid {
  height: inherit !important;
}

.rub-head4 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  // margin-right: 0px !important;
  // margin-left: 100px !important;
  contain: auto;
}

.card-body {
  width: 100%;
  height: auto;
  max-width: 300px;
  min-width: 260px;
  border-radius: 8px;
  contain: auto;
}

.invest-card {
  height: 100%;
    min-height: 230px !important;
    max-height: 300px !important;
    margin-bottom: 20px !important;
  z-index: 1;
  // overflow-y: auto;
  // overflow-x: hidden;
}
.invest-card2 {
  height: auto;
  min-height: 150px !important;
  max-height: 220px !important;
  margin-bottom: 20px !important;
  z-index: 1;
  // overflow-y: auto;
  // overflow-x: hidden;
}
.invest-card3 {
  height: 100%;
    min-height: 350px !important;
    max-height: 440px !important;
    margin-bottom: 20px !important;
  z-index: 1;
  // overflow-y: auto;
  // overflow-x: hidden;
}


// div.item-header {
//   background-color: #e9ecef !important;
//   position: fixed;
//   z-index: 1;
// }
// .item-header .col-7{
//   position: relative;
//   left: 60px;
// }
// .item-header .col-5{
//   position: relative;
//   left: 112px;
// }
// .item-header, .item-header .col-5, .item-header .col-7 {
//   background-color: #e9ecef;
// }

.item-container {
  height: 100%;
  // overflow-y: auto;
  // overflow-x: hidden;
}

.list-card {
  width: 100%;
  height: 30px !important;
  margin-left: -15px !important;
  margin-right: 30px !important;
}
.list-card2 {
  width: 100%;
  height: 350px !important;
  margin-left: -15px !important;
  margin-right: 30px !important;
}
// .col-4 h4 {
//   margin-right: 8px !important;
// }
.levelSet {
  position: relative;
  margin-left: 50px !important;
  margin-right: 10px !important;
}
.itemCreated {
  margin-left: 5px !important;
}


h2 {
  font-size: 16px;
}
h4 {
  font-size: 16px;
}
.invest-card2 .col-12 h4 {
 margin-left: auto !important;
  margin-right: auto !important;
  padding-right: 70px !important;
  padding-left: 40px !important;
}

button.btn {
  border-radius: 15px;
}

.text-info {
  color: #17aae0ee !important;
}

a.text-info:focus,
a.text-info:hover {
  color: #48bae4f5 !important;
}
.btn-info {
  color: #17aae0ee;
  background-color: transparent;
  border-color: #17aae0ee;
}
.btn-info:hover,
.btn-info:focus {
  color: #d9dbdd;
  background-color: #17aae0ee;
  border-color: #17aae0ee;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem #0e99ccee;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #1b9eceec;
  background-color: transparent;
  border-color: #1b9eceec;
}
.btn-infob {
  color: #7d8388;
  background-color: transparent;
  border-color: transparent;
}
.btn-infob:hover,
.btn-infob:focus {
  color: #17aae0ee;
  background-color: transparent;
  border-color: transparent;
}
.btn-infob.focus,
.btn-infob:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}
.btn-infob.disabled,
.btn-infob:disabled {
  color: #89898a;
  background-color: transparent;
  border-color: transparent;
}

.pointerCursor {
  cursor: pointer;
}



//media queries
@media (min-width: 320px) {
  .card-body {

    // min-height: 420px !important;
    // max-height: 470px !important;
    padding-top: 4px;
    margin-bottom: 15px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

@media (min-width: 360px) {
  // .rub-head4 {
  //   margin-left: 120px !important;
  // }
  .card-body {
    max-width: 350px;
    min-width: 320px;
    padding-top: 4px;
    // padding-bottom: 0px !important;
    margin-bottom: 0px !important;
  }
}

@media (min-width: 375px) {
  // .rub-head4 {
  //   margin-left: 135px !important;
  // }
  .card-body {
    max-width: 360px;
    min-width: 340px;
    min-height: 420px !important;
    // max-height: 490px !important;
    margin-bottom: 15px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 60px !important;
  }
}

@media (min-width: 410px) {
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 17px;
  }
  // .rub-head4 {
  //   margin-left: 135px !important;
  // }
  .card-body {
    max-width: 370px;
    min-width: 350px;
    margin-bottom: 5px !important;
  }
  .jumbotron-fluid {
    padding-bottom: 5px !important;
  }
}

@media (min-width: 445px) {
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  // .rub-head4 {
  //   margin-left: 170px !important;
  // }
  .card-body {
    max-width: 410px;
    min-width: 390px;
    padding-top: 4px !important;
    margin-bottom: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: 8px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 568px) {
  .card-body {
    padding-top: 4px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
  }
}

@media (min-width: 640px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

@media (min-width: 768px) {
  .container {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  .card-body {
    min-height: 590px !important;
    // max-height: 630px !important;
    padding-top: 14px !important;
    margin-bottom: 10px !important;
  }
  .jumbotron-fluid {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
  }
}

@media (min-width: 812px) {
  .card-body {
    min-height: 420px !important;
    // max-height: 430px !important;
    padding-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .jumbotron-fluid {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
  }
}

@media (min-width: 1024px) {
  .card-body {
    min-height: 630px !important;
    // max-height: 690px !important;
    padding-top: 14px !important;
    margin-top: 8px !important;
    margin-bottom: 130px !important;
  }
  .jumbotron-fluid {
    padding-top: 10px !important;
    padding-bottom: 200px !important;
  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1280px) {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  h4 {
    font-size: 22px !important;
  }
  h5 {
    font-size: 20px !important;
  }
  .card-body {
    min-height: 430px !important;
    max-height: 500px !important;
    padding-top: 10px !important;
    margin-top: 8px !important;
    margin-bottom: 15px !important;
  }
  .jumbotron-fluid {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 60px !important;
  }
}

@media (min-width: 1320px) {
}
