<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 pb-md-0 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
              <div class="row">
          <div class="col-12">
            <h3
              class="rub-head4 text-info text-center font-weight-bold py-1"
            >
              CONSTANTS
            </h3>
            <hr class="mt-0" />
          </div>
        </div>
      <div class="row">
      <div class="col-6 col-sm-6 col-md-7 col-lg-8 col-xl-9 mr-0 mx-sm-auto px-0 px-sm-2 px-lg-3">
          <div class="mt-0 pt-xl-0 mb-1 mb-md-2 mx-1 pl-0 px-sm-auto pl-xl-2">
            <!-- the search section -->
            <input
              type="text"
              (input)="getValue($event)"
              class="form-control col-11 col-sm-12 col-md-10 col-lg-7 col-xl-5"
              name=""
              id="search"
              placeholder="Search"
              autocomplete="on"
            />
          </div>
        </div>
                        <div class="col-6 col-sm-6 col-md-5 col-lg-4 col-xl-3 ml-0 py-1 px-0 pl-sm-5">
          <button
            class="btn btn-primary mt-0 ml-0 ml-sm-5 px-2"
            tooltip="Export to Excel"
            (click)="exportToExcel()"
          >
            <i class="fas fa-file-export"></i> Export
          </button>
          <button class="btn btn-info mt-0 mx-1"
            routerLink='/admin/constants'
          ><i class="fas fa-chevron-left"></i> Back</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-0 px-0">
      <div class="condition" *ngIf="checkTable(constantsTable); else nobranch">
          <div class="table-col col-12 pt-2 pb-1 mb-0">
            <div class="state-table table-responsive pb-0">
              <!--table-->
              <table
              *ngIf="checkTable(filteredConstants); else noconstant"
                class="table table-hover table-striped table-sm"
                #exportTable
              >
              <thead class="bg-dark text-white">
                <tr class="mx-2">
                <th scope="col">
                	<i class="fas fa-sort pointerCursor"
                	(click)="sort('id')"
                	></i> ID
                </th>
                <th scope="col">
                	 <i class="fas fa-sort pointerCursor"
                	(click)="sort('loanType')"
                	></i>LoanType
                </th>
                 <th scope="col">
                	 <i class="fas fa-sort pointerCursor"
                	(click)="sort('loanproduct')"
                	></i>LoanProduct
                </th>

                <th scope="col">
                	<i class="fas fa-sort pointerCursor"
                	(click)="sort('timeThreshold')"
                	></i>Threshold
                </th>
                   <th scope="col">
                	<i class="fas fa-sort pointerCursor"
                	(click)="sort('tenure')"
                	></i> Tenure
                </th>

                <th scope="col">
                	<i class="fas fa-sort pointerCursor"
                	(click)="sort('maximumAmount')"
                	></i>Max'm Amount
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="mx-2" *ngFor="let constant of filteredConstants|orderBy:key:reverse let i = index">
                <td>{{constant.id}}</td>
                <td>{{constant.loanType}}</td>
                <td>{{constant.loanproduct}}</td>
                <td>{{constant.timeThreshold}}</td>
                <td>{{constant.tenure}}</td>
                <td>{{constant.maximumAmount}}</td>
              </tr>
            </tbody>
          </table>
           <!--table-->
           <ng-template #noconstant>
           	<div class="text-center">
           		<h2>No Details found</h2>
           	</div>
           </ng-template>
         </div>
      </div>
    </div>
  </div>
</div>
            <ng-template #nobranch>
                              <div class="col-12 my-5 py-5 justify-content-between">
                <h4 class="text-center text-info">No constants Found!</h4>
              </div>
              </ng-template>
  </div>
  </div>
