<div
  class="container-fluid d-flex flex-row justify-content-center mb-0 mt-md-1 mt-1 pt-md-0 pt-0 pb-3 shadow-lg col-xs-12 col-lg-8"
>
  <div class="jumbotron-fluid">
    <div class="head-icon d-flex justify-content-center mt-3 mb-3 pb-0">
      <img
        class="mx-auto mb-0 pb-0"
        src="assets/img/letshego-logob.svg"
        width="50"
        height="50"
      />
    </div>
    <div class="col-12 mt-5 mb-2 py-5 justify-content-between">
      <h4 class="text-center text-info">
        Please check your email for the reset password link and code to use.
      </h4>
    </div>
    <div class="col-12 mt-2 mb-5 py-5 justify-content-between">
      <!-- <p class="text-center text-primary">
        If you have contacted the System Administrator, <a class="text-info" routerLink="../changepassword">
 Reset Password
              </a>
      </p> -->
    </div>
  </div>
</div>
<!--footer -->
<div class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mx-auto">
  <div class="small text-center text-info">&copy; 2020 - LoanLead</div>
</div>
<!--/ footer -->
