
<div
class="container-fluid justify-content-center mb-0 pt-md-2 pt-2 pb-2 shadow-lg col-xs-12 col-lg-12"
>
<div class="jumbotron-fluid mx-0 px-0 mt-1 pt-3 mb-0 pb-1">
  <div class="container mt-2 mx-0 mb-3 shadow-lg">
    <div class="row">
      <div class="col-12">
        <h2
          class="rub-head4 text-info text-center font-weight-bold pt-0 py-1"
        >
          Create Areas, Towns, Stations
        </h2>
      </div>
    </div>
  </div>
  <div class="container mx-0 px-0 mb-0 pb-2">
    <div class="d-flex mt-1 mb-0 pt-1 pb-0 mx-auto">
      <div class="col-12 col-md-6 mx-0 px-0">
      <a routerLink="createarea" class="text-info"><button
      class="btn btn-lg btn-info col-3 col-md-3 mx-1 px-0"
    >
      Create area
    </button> </a>
    <a routerLink="createtown"><button
    class="btn btn-info col-4 col-md-3 mx-1 px-0"
  >
    Create town
  </button> </a>
  <a routerLink="createstation"><button
  class="btn btn-info col-4 col-md-3 mx-1 px-2"
>
  Create station
</button></a>
</div>
  </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--footer -->
<div
  class="d-flex justify-content-center col-xs-12 col-lg-12 mt-3 mb-3 mx-auto"
>
  <div class="small text-center text-info">&copy; 2020 - ThunderBolt</div>
</div>
<!--/ footer -->
