
<div class="container-fluid mb-0 mt-md-1 pt-md-0 pt-3 pb-1  col-xs-12 col-lg-12 ">
    <div>
      <div class="container">
        <div class="row shadow-lg m-3">
          <div class="col-md-4 colxs-12 col-sm-12 m-2">
            <h1>
              <i class="fas fa-user">User</i>
            </h1>
          </div>
          <div class="col-md-4 colxs-12 col-sm-12">
             <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="branchApprovalReceivedLoans()">ReceivedLoans</button>
          </div>
          <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="branchApprovalForwardedLoans()">Back</button>
                       <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="rejectLoan()">RejectLoans</button>
                       <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="defferLoan()">DefferLoans</button>
                                    <button 
             class="btn btn-success m-4" 
             type="button" 
             (click)="approveLoans()">ApproveLoans</button>

                        </div>
        </div>
        <div class="col-md-12">
          <div class="conditin m-2" 
          *ngIf="
          enableForwardedFrom
          &&!enableApprove&&
          !enableDeffered&&!
          enableRejected&&!enableReceive">
                <!--here-->
                   <div class="check-length" *ngIf="checkTransactionsTable(forwardedLoansFrom)">
                     <form [formGroup]="receiveGroupLoans" (ngSubmit)="onSubmit()">
                      <h3 class="text-center" >ReceivedFromApplication</h3>
                <div class="form-group">
                  <input type="checkbox"  id="select"
                  (click)="receiveAllLoans(checkAll)"
                  >
                  <label for="select">ReceivedAll</label>
                </div>
                <!---table->

                  --table-->
                  <table class="table table-bordered">
                     <thead class="table-dark" >
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let control of FormArrayControls.controls; let i = index">
                      <th>
                      <input type="checkbox" required name="check" 
                      [formControl]="control"
                      id="checkbox{{i}}" (change)="getSelectedLoansWithNoComments()">
                      <label for="checkbox{{i}}">Receive</label>
                      <p *ngIf="createError">AtleastReceiveOne</p>
                      </th>
                      <th>{{forwardedLoansFrom[i].Id}}</th>
                      <th>{{forwardedLoansFrom[i].Customer}}</th>
                      <th>{{forwardedLoansFrom[i].LoanType}}</th>
                      <th>{{forwardedLoansFrom[i].LoanProduct}}</th>
                      <th>{{forwardedLoansFrom[i].Tenure}}</th>
                      <th>{{forwardedLoansFrom[i].Amount}}</th>
                      <th>{{forwardedLoansFrom[i].Stage}}</th>
                      <th>{{forwardedLoansFrom[i].Status}}</th>
                      <th>{{forwardedLoansFrom[i].LoanMovedBy}}</th>
                      <th>{{forwardedLoansFrom[i].StageAt}}</th>
                      <th>{{forwardedLoansFrom[i].HowLong}}</th>
                      <th>{{forwardedLoansFrom[i].CreatedAt}}</th>
                      <th>{{forwardedLoansFrom[i].TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>
                <div class="form-group" >
                  <button type="submit" class="btn btn-primary"
                  >Receive</button>
                </div>

              </form>

                     
                   </div>
                     
                   </div>
                   <!--receiveUsers-->
                   <div class="myn" *ngIf="!enableForwardedFrom&&!enableApprove&&!enableDeffered&&!enableRejected&&enableReceive">
                    <!--receivedusers-->
                    <div class="length" *ngIf="checkTransactionsTable(receivedLoans); else noreceived">
                      <!--receivedtable-->
                       <form [formGroup]="receiveGroupLoans" (ngSubmit)="onSubmit()">
                      <h3 class="text-center" >Received</h3>
                <!---table->

                  --table-->
                  <table class="table table-bordered">
                     <thead class="table-dark" >
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let control of FormArrayControls.controls; let i = index">
                      <th>
                      <input type="checkbox" required name="check" 
                      [formControl]="control"
                      id="checkbox{{i}}" (change)="getSelectedLoans(template)">
                      <label for="checkbox{{i}}">Receive</label>
                      <p *ngIf="createError">AtleastReceiveOne</p>
                      </th>
                      <th>{{receivedLoans[i].Id}}</th>
                      <th>{{receivedLoans[i].Customer}}</th>
                      <th>{{receivedLoans[i].LoanType}}</th>
                      <th>{{receivedLoans[i].LoanProduct}}</th>
                      <th>{{receivedLoans[i].Tenure}}</th>
                      <th>{{receivedLoans[i].Amount}}</th>
                      <th>{{receivedLoans[i].Stage}}</th>
                      <th>{{receivedLoans[i].Status}}</th>
                      <th>{{receivedLoans[i].LoanMovedBy}}</th>
                      <th>{{receivedLoans[i].StageAt}}</th>
                      <th>{{receivedLoans[i].HowLong}}</th>
                      <th>{{receivedLoans[i].CreatedAt}}</th>
                      <th>{{receivedLoans[i].TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="c">Comment</label>
                  <input type="text" name="" id="c" class="form-control" placeholder="Enter comment">
                </div>
                <div class="form-group" >
                  <button type="submit" class="btn btn-primary"
                  >Receive</button>
                </div>
                <div class="form-group" >
                  <button type="submit" class="btn btn-primary"
                  >Cancel</button>
                </div>
              </div>
        </ng-template>
              </form>
                    </div>
                    <ng-template #noreceived>
                      <h2>No users yet</h2>
                    </ng-template>

                    <!--reeivedUsers-->

                     
                   </div>
                   <!--receiveUsers-->


                   <!--rejectUsers-->
                   <div class="myn" *ngIf="!enableForwardedFrom&&!enableApprove&&!enableDeffered&&enableRejected&&!enableReceive">
                     <form [formGroup]="receiveGroupLoans" (ngSubmit)="onSubmit()">
                      <h3 class="text-center" >RejectLoans</h3>
                <!---table->

                  --table-->
                  <table class="table table-bordered">
                     <thead class="table-dark" >
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let control of FormArrayControls.controls; let i = index">
                      <th>
                      <input type="checkbox" required name="check" 
                      [formControl]="control"
                      id="checkbox{{i}}" (change)="getSelectedLoans(template)">
                      <label for="checkbox{{i}}">Receive</label>
                      <p *ngIf="createError">AtleastReceiveOne</p>
                      </th>
                      <th>{{receivedLoans[i].Id}}</th>
                      <th>{{receivedLoans[i].Customer}}</th>
                      <th>{{receivedLoans[i].LoanType}}</th>
                      <th>{{receivedLoans[i].LoanProduct}}</th>
                      <th>{{receivedLoans[i].Tenure}}</th>
                      <th>{{receivedLoans[i].Amount}}</th>
                      <th>{{receivedLoans[i].Stage}}</th>
                      <th>{{receivedLoans[i].Status}}</th>
                      <th>{{receivedLoans[i].LoanMovedBy}}</th>
                      <th>{{receivedLoans[i].StageAt}}</th>
                      <th>{{receivedLoans[i].HowLong}}</th>
                      <th>{{receivedLoans[i].CreatedAt}}</th>
                      <th>{{receivedLoans[i].TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>
                <div class="form-group" >
                  <button type="submit" class="btn btn-primary"
                  >Receive</button>
                  <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <label for="c">Reject</label>
                  <input type="text" name="" id="c" class="form-control" placeholder="Enter reason for rejection">
                </div>
                <div class="form-group" >
                  <button type="submit" class="btn btn-primary"
                  >Reject</button>
                </div>
                <div class="form-group" >
                  <button type="submit" class="btn btn-danger"
                  >Cancel</button>
                
              </div>
        </ng-template>
                </div>

              </form>
                    
                    <div class="length" *ngIf="checkTransactionsTable(receivedLoans); else noreceived">
                      
                        
                      
                    </div>
                    <ng-template #noreceived>
                      <h2>No receivedLoans yet</h2>
                    </ng-template>

                    

                     
                   </div>

                   <!--rejectUsers-->


                   <!--defferusers-->

                      <div class="myn" *ngIf="!enableForwardedFrom&&!enableApprove&&enableDeffered&&!enableRejected&&!enableReceive">
                    
                    <div class="length" *ngIf="checkTransactionsTable(receivedLoans); else noreceived">
                       <form [formGroup]="receiveGroupLoans" (ngSubmit)="onSubmit()">
                      <h3 class="text-center" >DefferLoans</h3>

                <!---table->

                  --table-->
                  <table class="table table-bordered">
                     <thead class="table-dark" >
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let control of FormArrayControls.controls; let i = index">
                      <th>
                      <input type="checkbox" required name="check" 
                      [formControl]="control"
                      id="checkbox{{i}}" (change)="getSelectedLoans(template)">
                      <label for="checkbox{{i}}">Receive</label>
                      <p *ngIf="createError">AtleastReceiveOne</p>
                      </th>
                      <th>{{receivedLoans[i].Id}}</th>
                      <th>{{receivedLoans[i].Customer}}</th>
                      <th>{{receivedLoans[i].LoanType}}</th>
                      <th>{{receivedLoans[i].LoanProduct}}</th>
                      <th>{{receivedLoans[i].Tenure}}</th>
                      <th>{{receivedLoans[i].Amount}}</th>
                      <th>{{receivedLoans[i].Stage}}</th>
                      <th>{{receivedLoans[i].Status}}</th>
                      <th>{{receivedLoans[i].LoanMovedBy}}</th>
                      <th>{{receivedLoans[i].StageAt}}</th>
                      <th>{{receivedLoans[i].HowLong}}</th>
                      <th>{{receivedLoans[i].CreatedAt}}</th>
                      <th>{{receivedLoans[i].TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>
         <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Modal</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="c">DefferTo</label>
                    <br>
                    <select name="" id="">
                      <option value="" disabled selected>LevelToDeffer</option>
                      <option  *ngFor="let level of levels">{{level}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-danger">Deffer</button>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-danger">Cancel</button>
                  </div>
                </div>
        </ng-template>
                

              </form>
                      
                        
                      
                    </div>
                    <ng-template #noreceived>
                      <h2>No receivedLoans yet</h2>
                    </ng-template>

                    <!--reeivedUsers-->
                    <!--deffer message-->
                      
                    <!--deffer-message-->

                     
                   </div>
                   <!--defferuser-->

                   <!--approveLoans-->
                   <div class="col-md-12" *ngIf="!enableForwardedFrom&&enableApprove&&!enableDeffered&&!enableRejected&&!enableReceive" >

                     <div class="check-length" *ngIf="checkTransactionsTable(receivedLoans)">
                     <form [formGroup]="receiveGroupLoans" (ngSubmit)="onSubmit()">
                      <h3 class="text-center" >ApproveLoans</h3>
                <div class="form-group">
                  <input type="checkbox"  id="select"
                  (click)="receiveAllLoans(checkAll)"
                  >
                  <label for="select">ApproveAll</label>
                </div>
                <!---table->

                  --table-->
                  <table class="table table-bordered">
                     <thead class="table-dark" >
                    <tr>
                      <th>Actions</th>
                      <th scope="col">ID</th>
                      <th scope="col">Customer</th>
                      <th scope="col">LoanType</th>
                      <th scope="col">LoanProduct</th>
                      <th scope="col">Tenure(years)</th>
                      <th scope="col">Amount(shs)</th>
                      <th scope="col">Stage</th>
                      <th scope="col">Status</th>
                      <th scope="col">LoanMovedBy</th>
                      <th scope="col">StageAt</th>
                      <th scope="col">HowLong(years)</th>
                      <th scope="col">CreatedAt</th>
                      <th scope="col">TotalAge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let control of FormArrayControls.controls; let i = index">
                      <th>
                      <input type="checkbox" required name="check" 
                      [formControl]="control"
                      id="checkbox{{i}}" (change)="getSelectedLoansWithNoComments()">
                      <label for="checkbox{{i}}">Receive</label>
                      <p *ngIf="createError">AtleastReceiveOne</p>
                      </th>
                      <th>{{receivedLoans[i].Id}}</th>
                      <th>{{receivedLoans[i].Customer}}</th>
                      <th>{{receivedLoans[i].LoanType}}</th>
                      <th>{{receivedLoans[i].LoanProduct}}</th>
                      <th>{{receivedLoans[i].Tenure}}</th>
                      <th>{{receivedLoans[i].Amount}}</th>
                      <th>{{receivedLoans[i].Stage}}</th>
                      <th>{{receivedLoans[i].Status}}</th>
                      <th>{{receivedLoans[i].LoanMovedBy}}</th>
                      <th>{{receivedLoans[i].StageAt}}</th>
                      <th>{{receivedLoans[i].HowLong}}</th>
                      <th>{{receivedLoans[i].CreatedAt}}</th>
                      <th>{{receivedLoans[i].TotalAge}}</th>
                    </tr>
                  </tbody>
                  </table>
                <div class="form-group" >
                  <button type="submit" class="btn btn-primary"
                  >Receive</button>
                </div>

              </form>

                     
                   </div>
                
                     
                   </div>

                   <!--approveLoans-->

        </div>
        <!--footer-->
        <div class="container mt-3 mb-2 pb-2">
          <div class="col-xs-12 col-lg-12">
            <div class="small text-center text-info">&copy; 2020 - LoanLead</div>
          </div>
  
      </div>
    </div>
  </div>
  
  
