<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
      <div class="row">
        <div class="col-12">
          <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
            TRANSACTIONS
          </h3>
          <hr class="mt-0" />
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-sm-7 col-md-9 col-xl-8">
          <div class="mt-1 mt-xl-0 pt-xl-0 mb-2 mx-0 pl-0 pl-xl-2">
            <!-- the search section -->
            <input
              type="text"
              (input)="getValue($event)"
              class="form-control col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6"
              name=""
              id="loan"
              placeholder="Search"
              autocomplete="on"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-0 px-2 py-2">
        <tabset>
          <!-- (click)="branchApprovalForwardedLoans()" -->
          <tab heading="Forwarded Loans">
            <div *ngIf="enableForwardedFrom && !enableForwardedTo">
              <!--record container-->
              <div
                class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
                *ngIf="
                  checkTransactionsTable(forwardedLoansFrom);
                  else noforwarded
                "
              >
                <div class="col-12">
                  <button
                    (click)="receiveAllLoans()"
                    class="btn btn-primary my-2"
                  >
                    Receive All
                  </button>
                </div>
                <div class="iteration">
                  <div class="item-container-1 mt-1">
                    <div
                      class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-0 shadow-lg"
                      *ngFor="
                        let forwarded of forwardedLoansFrom;
                        let i = index
                      "
                    >
                      <div class="list-card-body card-body my-0 py-0 mx-0 px-0">
                        <div class="row my-0 pt-0 pb-1 mx-md-0 px-md-0">
                          <div
                            class="col-3 col-sm-2 col-lg-1 d-flex flex-column justify-content-center pl-2 pr-0 pl-sm-3 px-lg-2 mx-md-0"
                          >
                            <button
                              class="btn btn-info mx-md-0 px-0 py-1"
                              [disable]="disableButton"
                              (click)="receiveLoans(forwarded.Id, i)"
                            >
                              Receive
                            </button>
                          </div>
                          <div class="col-9 col-sm-10 col-lg-11 mx-md-0">
                            <div class="row mx-md-0 px-md-0">
                              <div
                                class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">ID:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.Id }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-6 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Customer:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.Customer }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Loan Type:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.LoanType }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Loan Product:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.LoanProduct }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Tenure:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.Tenure }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Amount:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.Amount | number }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Stage:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.Stage }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Status:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.Status }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Moved by:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.LoanMovedBy }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Stage At:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.StageAt }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Age:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.HowLong }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Created At:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.CreatedAt }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Total Age:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ forwarded.TotalAge }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ end of record container-->
            </div>
          </tab>
          <!-- (click)="branchApprovalReceivedLoans()" -->
          <tab heading="Received Loans">
            <!---forward users-->
            <div *ngIf="!enableForwardedFrom && enableForwardedTo">
              <!--record container-->
              <div
                class="invest-card card mt-1 py-2 mb-2 mx-auto px-2 shadow-lg"
                *ngIf="checkTransactionsTable(receivedLoans); else noloans"
              >
                <div class="iteration">
                  <div class="item-container-1 mt-1">
                    <div
                      class="list-card card mt-1 pt-2 mb-0 mx-auto px-0 pb-1 shadow-lg"
                      *ngFor="let received of receivedLoans; let i = index"
                    >
                      <div class="list-card-body card-body my-0 py-0 mx-0 px-0">
                        <div class="row my-0 pt-md-0 pb-md-1 mx-md-0 px-md-0">
                          <div
                            class="col-1 mx-md-0 px-md-0 d-flex justify-content-center"
                          >
                            <div class="dropdown">
                              <button
                                class="btn btn-outline-primary dropdown-toggle"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                tooltip="Options"
                              >
                                <i
                                  class="fas fa-ellipsis-v fa-2x text-info"
                                ></i>
                              </button>
                              <div
                                class="dropdown-menu"
                                aria-labelledby="dropdownMenuButton"
                              >
                                <a
                                  class="dropdown-item text-primo-1 pointerCursor"
                                  (click)="forwardLoan(forward, received.Id, i)"
                                  ><i class="fas fa-check"></i>
                                  Approve
                                </a>
                                <a
                                  class="dropdown-item text-primo pointerCursor"
                                  (click)="defferLoan(deffer, received.Id, i)"
                                  ><i class="fas fa-chevron-left"></i>
                                  Defer
                                </a>
                                <a
                                  class="dropdown-item text-primo-2 pointerCursor"
                                  (click)="rejectLoan(reject, received.Id, i)"
                                  ><i class="fas fa-times"></i>
                                  Reject
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-11 mx-md-0 px-md-0">
                            <div class="row mx-md-0 px-md-0">
                              <div
                                class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">ID:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.Id }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-6 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Customer:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.Customer }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-3 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Loan Type:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.LoanType }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Loan Product:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.LoanProduct }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Tenure:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.Tenure }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Amount:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.Amount | number }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Stage:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.Stage }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Status:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.Status }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Moved by:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.LoanMovedBy }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Stage At:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.StageAt }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Age:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.HowLong }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Created At:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.CreatedAt }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="col-12 col-md-6 col-xl-4 mx-md-0 px-md-0"
                              >
                                <div class="row">
                                  <div
                                    class="col-5 col-md-4 col-lg-3 d-flex justify-content-start mx-md-0 px-md-0"
                                  >
                                    <span class="">Total Age:</span>
                                  </div>
                                  <div
                                    class="col-7 col-md-8 col-lg-9 d-flex justify-content-start font-weight-bold mx-md-0 px-md-0"
                                  >
                                    <span class="itemCreated">
                                      {{ received.TotalAge }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/ end of record container-->
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
<!--no forwarded Loans-->
<ng-template #noforwarded>
  <div class="col-12 my-5 py-5 justify-content-between">
    <h4 class="text-center text-info">No Forwarded Loans</h4>
  </div>
</ng-template>
<!---create reject template-->
<ng-template #reject>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Reject Loan</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group text-primary" [formGroup]="comment">
      <textarea
        name="reject"
        id="c"
        formControlName="user_comments"
        class="form-control"
        rows="5"
        placeholder="Comment"
        [ngClass]="validateComments()"
      ></textarea>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-danger"
      [disabled]="comment.invalid"
      (click)="onReject(makeLoansRejected, arrayId, arrayIndex)"
    >
      OK
    </button>
    <button class="btn btn-info" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</ng-template>

<!--create deffer template-->
<ng-template #deffer>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Defer Loan</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [formGroup]="defferTo">
      <div class="form-group text-primary">
        <label for="select">Defer to</label>
        <select
          name=""
          id="select"
          class="form-control"
          (change)="getWhereToDeffer($event)"
        >
          <option selected disabled select>Select</option>
          <option *ngFor="let level of levels" [ngValue]="level">
            {{ level }}
          </option>
        </select>
      </div>
      <div class="form-group text-primary">
        <textarea
          name="reject"
          id="c"
          formControlName="deffer_reason"
          class="form-control"
          rows="5"
          placeholder="Comment"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-info"
      [disabled]="defferTo.invalid"
      (click)="onDeffer(makeLoansDeffered, arrayId, arrayIndex)"
    >
      OK
    </button>
    <button class="btn btn-info" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</ng-template>

<!--create forward template-->

<ng-template #forward>
  <div class="modal-header bg-info">
    <h4 class="modal-title text-white-75">Forward Loan</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group text-primary" [formGroup]="comment">
      <textarea
        name="reject"
        id="c"
        formControlName="user_comments"
        class="form-control"
        rows="5"
        placeholder="Comment"
        [ngClass]="validateComments()"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-info"
      [disabled]="comment.invalid"
      (click)="onForward(forwardedLoansTo, arrayId, arrayIndex)"
    >
      OK
    </button>
    <button class="btn btn-info" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</ng-template>
<ng-template #noloans>
  <div class="col-12 my-5 py-5 justify-content-between">
    <h4 class="text-center text-info">No Received Loans</h4>
  </div>
</ng-template>
