<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-1 pb-2 pb-md-0 shadow-lg col-xs-12 col-lg-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-0 mb-0 pb-0">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="checkIfUserExists(users); else noUsers">
          <div class="row">
            <div class="col-12">
              <h3
                class="rub-head4 text-info text-center font-weight-bold py-0"
              >
                APPROVE USERS
              </h3>
              <hr class="mt-0" />
            </div>
          </div>

          <div class="row">
            <input
            type="text"
            (input)="getValue($event)"
            class="form-control col-9 col-sm-6 col-md-4"
            name=""
            id="customer"
            placeholder="Search" autocomplete="on"
          />
            <div class="col-12 mx-auto px-0 px-lg-5">
              <div class="table-col col-12">
                <div class="state-table table-responsive mb-0 pt-0 pb-0 mx-auto px-auto px-lg-5">
                  <!--ApproveUsers-->
                   <table class="table table-hover table-striped table-sm"
                     #exportTable>
                     <thead class="table-dark" >
                    <tr>
                      <th>
                        <i class="fas fa-sort pointerCursor"
                        (click)="sort('userId')"
                        >UserId</i>
                      </th>
                      <th scope="col"><i class="fas fa-sort pointerCursor"
                        (click)="sort('userName')"
                        >UserName</i></th>
                      <th>
                        <i class="fas fa-sort pointerCursor"
                        (click)="sort('userEmail')"
                        >UserEmail</i>
                      </th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let approve of filteredUsers|orderBy:key:reverse; let i = index">
                      <th>{{approve.userId}}</th>
                      <th>{{approve.userName}}</th>
                      <th>{{approve.userEmail}}</th>
                      <th>
                         <button
                         type="button"
                         class="btn btn-primary"
                         (click)="approveUser(template,approve,i)"
                         >AssignRole</button>
                      </th>
                    </tr>
                  </tbody>
                  </table>
                  <!--popup modal-->

              <ng-template #template>
                <div class="modal-header">
                  <h4 class="modal-title pull-left">Letshego Uganda Limited</h4>
                  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group" [formGroup]="userRole">
                    <label for="c">AssignRoleTo</label>
                    <div>
                       <select
                           placeholder="assign role"
                          (change)="assignRole($event)"
                              >
                                <option selected disabled>AssignRole</option>
                                <option
                                  [ngValue]="role"

                                  *ngFor="let role of roles"
                                >
                                  {{ role }}
                                </option>
                              </select>

                    </div>
                    </div>
                  <div class="form-group" >
                    <button type="submit" class="btn btn-primary"
                    [disabled]= "disableButton"
                    (click)="onApprove(makeUserApproved, userId, userIndex)"
                    >Approve</button>
                  </div>
                  <div class="form-group" >
                    <button type="submit"
                    (click)="cancel()"
                     class="btn btn-primary"
                    >Cancel</button>
                  </div>
                </div>
        </ng-template>
        <ngx-spinner></ngx-spinner>
                  <!--popup modal-->
                  <!--ApproveUsers-->


                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noUsers>
                              <div class="col-12 my-5 py-5 justify-content-between">
                                <h4 class="text-center text-info">No users Yet!</h4>
                              </div>
                </ng-template>
            </div>
          </div>
          <ng-template #noApproved>
                            <div class="col-12 my-5 py-4 justify-content-between">
              <h4 class="text-center text-info">No Approved Users Yet!</h4>
            </div>
            </ng-template>
        </div>
      </div>
<!-- footer -->
<div class="container mt-3 mt-xl-2 mb-2 pb-2">
  <div class="col-xs-12 col-lg-12">
    <div class="small text-center text-info">&copy; 2020 - LoanLead</div>
  </div>
</div>
<!-- footer /-->
