<div
  class="container-fluid justify-content-center mt-xl-0 mb-0 pt-1 pt-xl-0 pb-2 pb-md-0 shadow-lg col-xs-12"
>
  <div class="jumbotron-fluid mx-0 px-0 mt-1 mt-xl-0 pt-3 pt-xl-0 mb-0 pb-0">
    <div
      class="head-container container my-1 mx-auto px-auto pt-0 pb-2 shadow-lg"
    >
      <div class="row">
        <div class="col-12">
          <h3 class="rub-head4 text-info text-center font-weight-bold py-1">
            TRANSACTIONS
          </h3>
          <hr class="mt-0" />
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-sm-7 col-md-8 col-lg-9 col-xl-8">
          <div class="mt-1 mt-xl-0 pt-xl-0 mb-2 mx-0 pl-0 pl-xl-2">
            <!-- the search section -->
            <input
              type="text"
              (input)="getValue($event)"
              class="form-control col-12 col-sm-10 col-md-8 col-lg-7 col-xl-5"
              name=""
              id="loan"
              placeholder="Search"
              autocomplete="on"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-0 px-0 py-2">
        <div
          class="length"
          *ngIf="checkTransactionsTable(receivedLoans); else noreceived"
        >
          <div class="table-col col-12 pt-2 pb-1 mb-0">
            <div class="state-table table-responsive pb-0">
              <!--table-->
              <table class="table table-hover table-striped table-sm">
                <thead class="bg-dark text-white">
                  <tr class="mx-2">
                    <th>Action</th>
                    <th scope="col">ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Loan Type</th>
                    <th scope="col">Loan Product</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Stage</th>
                    <th scope="col">Status</th>
                    <th scope="col">Loan MovedBy</th>
                    <th scope="col">Stage At</th>
                    <th scope="col">How Long</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Total Age</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    class="mx-2"
                    *ngFor="
                      let received of filteredReceivedLoans;
                      let i = index
                    "
                  >
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-primary dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        ></button>
                        <div
                          class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton"
                        >
                          <a
                            class="dropdown-item pointerCursor text-primo"
                            (click)="forwardSelected(template, received.Id)"
                          >
                            Forward
                          </a>
                          <a
                            class="dropdown-item pointerCursor text-primo"
                            (click)="editLoan(edit, received.Id, i)"
                          ><i class="fas fa-edit"></i>
                            Edit
                        </a>
                        </div>
                      </div>
                    </td>
                    <td>{{ received.Id }}</td>
                    <td>{{ received.Customer }}</td>
                    <td>{{ received.LoanType }}</td>
                    <td>{{ received.LoanProduct }}</td>
                    <td>{{ received.Tenure }}</td>
                    <td>{{ received.Amount | number }}</td>
                    <td>{{ received.Stage }}</td>
                    <td>{{ received.Status }}</td>
                    <td>{{ received.LoanMovedBy }}</td>
                    <td>{{ received.StageAt }}</td>
                    <td>{{ received.HowLong }}</td>
                    <td>{{ received.CreatedAt }}</td>
                    <td>{{ received.TotalAge }}</td>
                  </tr>
                </tbody>
              </table>
              <ngx-alerts></ngx-alerts>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--forward loan--->
  <ng-template #template>
  <div class="modal-header bg-info modal-lg">
    <h4 class="modal-title text-white-75">Forward Loan</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group text-primary" [formGroup]="comment">
        <textarea
          name="arae"
          formControlName="comments"
          id=""
          class="form-control"
          rows="5"
          placeholder="Comment"
        ></textarea>
      </div>
      </div>
    <div class="modal-footer">
        <button
          type="submit"
          class="btn btn-info"
          (click)="onSubmit()"
          [disabled]="comment.invalid"
        >
          OK
        </button>
        <button type="submit" class="btn btn-info" (click)="closeModal()">
          Cancel
        </button>
    </div>
  </ng-template>
  <!---edit loan-->
  <ng-template #edit>
  <div class="modal-header bg-info modal-lg">
    <h4 class="modal-title text-white-75">Edit Loan</h4>
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="closeModal()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!--edit form-->
    <div class="modal-body">
  <div class="card-body mt-2 pt-3 mt-xl-1 mb-1 mx-auto pb-4 shadow-lg">
    <form [formGroup]="editLoanForm" (ngSubmit)="saveEdit()">
      <!--create a customer modal-->
      <div class="form-group text-primary">
        <label
          for="customerName"
          [ngClass]="editControls.customerName.valid ? 'text-info' : ''"
          ><i *ngIf="editControls.customerName.valid" class="material-icons"
            >check_circle</i
          >Customer name</label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-user text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="customerName"
            formControlName="customerName"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (editControls.customerName.touched ||
                  editControls.customerName.dirty) &&
                editControls.customerName.errors
            }"
            placeholder="Edit Customer name"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.customerName.touched ||
              editControls.customerName.dirty) &&
            editControls.customerName.errors?.required
          "
        >
          The customer name is required!
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.customerName.touched ||
              editControls.customerName.dirty) &&
            editControls.customerName.errors?.minlength
          "
        >
          At least four characters are required!
        </div>
      </div>

      <div class="form-group text-primary">
        <label
          for="loanType"
          [ngClass]="editControls.loanType.valid ? 'text-info' : ''"
          >Loan Type<i *ngIf="editControls.loanType.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="loanType"
            formControlName="loanType"
            type="text"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (editControls.loanType.touched ||
                  editControls.loanType.dirty) &&
                editControls.loanType.errors?.required
            }"
            placeholder="Enter loan type"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.loanType.touched || editControls.loanType.dirty) &&
            editControls.loanType.errors?.required
          "
        >
          The loan type is required!
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.loanType.touched || editControls.loanType.dirty) &&
            editControls.loanType.errors?.required
          "
        >
          Please enter valid loan type!
        </div>
      </div>

      <div class="form-group text-primary">
        <label
          for="loanProduct"
          [ngClass]="editControls.loanProduct.valid ? 'text-info' : ''"
          >Loan Product<i
            *ngIf="editControls.loanProduct.valid"
            class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="loanProduct"
            formControlName="loanProduct"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (editControls.loanProduct.touched ||
                  editControls.loanProduct.dirty) &&
                editControls.loanProduct.errors
            }"
            [ngClass]="setClassInvalid(editControls.loanProduct)"
            placeholder="Enter loan product"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.loanProduct.touched ||
              editControls.loanProduct.dirty) &&
            editControls.loanProduct.errors?.required
          "
        >
          The loan product is required!
        </div>
      </div>
      <div class="form-group text-primary">
        <label
          for="tenure"
          [ngClass]="editControls.tenure.valid ? 'text-info' : ''"
          >Tenure<i *ngIf="editControls.tenure.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fas fa-anchor text-primary mx-auto" style="size: 50px;">
              </i>
            </div>
          </div>
          <input
            id="tenure"
            formControlName="tenure"
            type="number"
            required
            class="form-control"
            [ngClass]="setClassInvalid(editControls.tenure)"
            placeholder="Enter loan tenure"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.tenure.touched || editControls.tenure.dirty) &&
            editControls.tenure.errors?.required
          "
        >
          The loan tenure is required!
        </div>
      </div>
      <!--amount--->

      <div class="form-group text-primary">
        <label
          for="amount"
          [ngClass]="editControls.amount.valid ? 'text-info' : ''"
          >Amount<i *ngIf="editControls.amount.valid" class="material-icons"
            >check_circle</i
          ></label
        >
        <div class="input-group mb-0">
          <input
            id="amount"
            formControlName="amount"
            type="text"
            required
            class="form-control"
            [ngClass]="{
              'is-invalid':
                (editControls.amount.touched || editControls.amount.dirty) &&
                editControls.amount.errors
            }"
            [ngClass]="setClassInvalid(editControls.amount)"
            placeholder="Enter loan amount"
            autocomplete="off"
          />
        </div>
        <div
          class="text-danger"
          *ngIf="
            (editControls.amount.touched || editControls.amount.dirty) &&
            editControls.amount.errors?.required
          "
        >
          The loan amount is required!
        </div>
      </div>
      <div class="d-flex my-2 py-2 mx-auto">
        <button
          type="submit"
          class="btn btn-info col-5 mx-auto"
          disable="editLoanForm.invalid"
        >
          Save
        </button>

        <button
          type="button"
          class="btn btn-info col-5 mx-auto"
          (click)="closeModal()"
        >
          Cancel
        </button>
        <ngx-spinner class="bg-info" size="medium" type="ball-scale-multiple">
          <p class="text-light">Please wait...</p>
        </ngx-spinner>

        <label class="col" *ngIf="errored" class="text-danger">
          <i class="material-icons">Cancel</i>

          <ngx-alerts></ngx-alerts>
        </label>

        <label class="col" *ngIf="posted" class="text-info">
          <i class="material-icons">check_circle</i>
          <ngx-alerts></ngx-alerts>
        </label>
      </div>
    </form>
  </div>
  </div>
  </ng-template>
<ng-template #noreceived>
                <div class="col-12 my-5 py-5 justify-content-between">
                  <h4 class="text-center text-info">No Loans yet!</h4>
</div>
</ng-template>
