.jumbotron-fluid {
    height: inherit !important;
}

.rub-head4 {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    // margin-right: 0px !important;
    // margin-left: 100px !important;
    contain: auto;
}

.item-container {
    height: 100%;
    // overflow-y: auto;
    // overflow-x: hidden;
}

h2 {
    font-size: 18px;
}

button.btn {
    border-radius: 15px;
}

.btn {
    padding: .340rem .35rem;
    font-size: .8rem;
    line-height: 1.0;
}

.text-info {
    color: #17aae0ee !important;
}

a.text-info:focus,
a.text-info:hover {
    color: #48bae4f5 !important;
}

.btn-info {
    color: #17aae0ee;
    background-color: transparent;
    border-color: #17aae0ee;
}

.btn-info:hover,
.btn-info:focus {
    color: #d9dbdd;
    background-color: #17aae0ee;
    border-color: #17aae0ee;
}

.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 0 0 0.2rem #0e99ccee;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #1b9eceec;
    background-color: transparent;
    border-color: #1b9eceec;
}

.btn-infob {
    color: #7d8388;
    background-color: transparent;
    border-color: transparent;
}

.btn-infob:hover,
.btn-infob:focus {
    color: #17aae0ee;
    background-color: transparent;
    border-color: transparent;
}

.btn-infob.focus,
.btn-infob:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}

.btn-infob.disabled,
.btn-infob:disabled {
    color: #89898a;
    background-color: transparent;
    border-color: transparent;
}

.pointerCursor {
    cursor: pointer;
}

//media queries
@media (min-width: 320px) {
    .jumbotron-fluid {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

@media (min-width: 360px) {}

@media (min-width: 375px) {
    .jumbotron-fluid {
        padding-bottom: 10px !important;
    }
}

@media (min-width: 410px) {
    .jumbotron-fluid {
        padding-bottom: 5px !important;
    }
}

@media (min-width: 445px) {
    h2 {
        font-size: 20px;
    }
    .jumbotron-fluid {
        padding-top: 8px !important;
        padding-bottom: 5px !important;
    }
}

@media (min-width: 568px) {
    .jumbotron-fluid {
        padding-top: 0px !important;
    }
    h2 {
        font-size: 22px;
    }
}

@media (min-width: 640px) {
    .container {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media (min-width: 768px) {
    .container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    h2 {
        font-size: 24px;
    }
    .jumbotron-fluid {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
}

@media (min-width: 812px) {
    .jumbotron-fluid {
        padding-top: 0px !important;
        padding-bottom: 5px !important;
    }
}

@media (min-width: 1024px) {
    .jumbotron-fluid {
        padding-top: 10px !important;
        padding-bottom: 20px !important;
    }
    h2 {
        font-size: 26px;
    }
}

@media (min-width: 1100px) {}

@media (min-width: 1280px) {
    .container {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .jumbotron-fluid {
        margin-top: 0px !important;
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }
    h2 {
        font-size: 28px;
    }
}

@media (min-width: 1320px) {}
